# データサイエンス 100 本ノック（構造化データ加工編） - Python

## はじめに

- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- pandas 等、利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあれば適宜インストールしてください（"!pip install ライブラリ名"でインストールも可能）
- 処理は複数回に分けても構いません
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
# noqa
import os
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
import math
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import TimeSeriesSplit
from imblearn.under_sampling import RandomUnderSampler
import polars as pl


dtype = {
    "customer_id": str,
    "gender_cd": str,
    "postal_cd": str,
    "application_store_cd": str,
    "status_cd": str,
    "category_major_cd": str,
    "category_medium_cd": str,
    "category_small_cd": str,
    "product_cd": str,
    "store_cd": str,
    "prefecture_cd": str,
    "tel_no": str,
    "street": str,
}


df_customer = pl.read_csv("../data/customer.csv")
df_category = pl.read_csv("../data/category.csv")
df_product = pl.read_csv("../data/product.csv")
df_receipt = pl.read_csv("../data/receipt.csv")
df_store = pl.read_csv("../data/store.csv")
df_geocode = pl.read_csv("../data/geocode.csv")


# cast column types
for df in [df_customer, df_category, df_product, df_receipt, df_store, df_geocode]:
    for col, col_type in dtype.items():
        if col in df.columns:
            df = df.select(pl.col(col).cast(pl.String).alias(col))

# 演習問題

---

> P-001: レシート明細データ（df_receipt）から全項目の先頭 10 件を表示し、どのようなデータを保有しているか目視で確認せよ。

In [2]:
df_receipt.head(10)

shape: (10, 9)
┌───────────┬────────────┬──────────┬────────────┬───┬────────────┬────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epoc ┆ store_cd ┆ receipt_no ┆ … ┆ customer_i ┆ product_cd ┆ quantity ┆ amount │
│ ---       ┆ h          ┆ ---      ┆ ---        ┆   ┆ d          ┆ ---        ┆ ---      ┆ ---    │
│ i64       ┆ ---        ┆ str      ┆ i64        ┆   ┆ ---        ┆ str        ┆ i64      ┆ i64    │
│           ┆ i64        ┆          ┆            ┆   ┆ str        ┆            ┆          ┆        │
╞═══════════╪════════════╪══════════╪════════════╪═══╪════════════╪════════════╪══════════╪════════╡
│ 20181103  ┆ 1541203200 ┆ S14006   ┆ 112        ┆ … ┆ CS00621400 ┆ P070305012 ┆ 1        ┆ 158    │
│           ┆            ┆          ┆            ┆   ┆ 0001       ┆            ┆          ┆        │
│ 20181118  ┆ 1542499200 ┆ S13008   ┆ 1132       ┆ … ┆ CS00841500 ┆ P070701017 ┆ 1        ┆ 81     │
│           ┆            ┆          ┆            ┆   ┆ 0097       ┆            ┆          ┆        │
│ 20170712  ┆ 1499817600 ┆ S14028   ┆ 1102       ┆ … ┆ CS02841400 ┆ P060101005 ┆ 1        ┆ 170    │
│           ┆            ┆          ┆            ┆   ┆ 0014       ┆            ┆          ┆        │
│ 20190205  ┆ 1549324800 ┆ S14042   ┆ 1132       ┆ … ┆ ZZ00000000 ┆ P050301001 ┆ 1        ┆ 25     │
│           ┆            ┆          ┆            ┆   ┆ 0000       ┆            ┆          ┆        │
│ 20180821  ┆ 1534809600 ┆ S14025   ┆ 1102       ┆ … ┆ CS02541500 ┆ P060102007 ┆ 1        ┆ 90     │
│           ┆            ┆          ┆            ┆   ┆ 0050       ┆            ┆          ┆        │
│ 20190605  ┆ 1559692800 ┆ S13003   ┆ 1112       ┆ … ┆ CS00351500 ┆ P050102002 ┆ 1        ┆ 138    │
│           ┆            ┆          ┆            ┆   ┆ 0195       ┆            ┆          ┆        │
│ 20181205  ┆ 1543968000 ┆ S14024   ┆ 1102       ┆ … ┆ CS02451400 ┆ P080101005 ┆ 1        ┆ 30     │
│           ┆            ┆          ┆            ┆   ┆ 0042       ┆            ┆          ┆        │
│ 20190922  ┆ 1569110400 ┆ S14040   ┆ 1102       ┆ … ┆ CS04041500 ┆ P070501004 ┆ 1        ┆ 128    │
│           ┆            ┆          ┆            ┆   ┆ 0178       ┆            ┆          ┆        │
│ 20170504  ┆ 1493856000 ┆ S13020   ┆ 1112       ┆ … ┆ ZZ00000000 ┆ P071302010 ┆ 1        ┆ 770    │
│           ┆            ┆          ┆            ┆   ┆ 0000       ┆            ┆          ┆        │
│ 20191010  ┆ 1570665600 ┆ S14027   ┆ 1102       ┆ … ┆ CS02751400 ┆ P071101003 ┆ 1        ┆ 680    │
│           ┆            ┆          ┆            ┆   ┆ 0015       ┆            ┆          ┆        │
└───────────┴────────────┴──────────┴────────────┴───┴────────────┴────────────┴──────────┴────────┘

---

> P-002: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客 ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10 件表示せよ。

In [3]:
df_receipt.select(
    pl.col("sales_ymd"), pl.col("customer_id"), pl.col("product_cd"), pl.col("amount")
).head(10)

shape: (10, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20181103  ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118  ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712  ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205  ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ 20180821  ┆ CS025415000050 ┆ P060102007 ┆ 90     │
│ 20190605  ┆ CS003515000195 ┆ P050102002 ┆ 138    │
│ 20181205  ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922  ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504  ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010  ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└───────────┴────────────────┴────────────┴────────┘

---

> P-003: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客 ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10 件表示せよ。ただし、sales_ymd を sales_date に項目名を変更して抽出すること。

In [4]:
df_receipt.select(
    pl.col("sales_ymd").alias("sales_date"),
    pl.col("customer_id"),
    pl.col("product_cd"),
    pl.col("amount"),
).head(10)

shape: (10, 4)
┌────────────┬────────────────┬────────────┬────────┐
│ sales_date ┆ customer_id    ┆ product_cd ┆ amount │
│ ---        ┆ ---            ┆ ---        ┆ ---    │
│ i64        ┆ str            ┆ str        ┆ i64    │
╞════════════╪════════════════╪════════════╪════════╡
│ 20181103   ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118   ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712   ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205   ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ 20180821   ┆ CS025415000050 ┆ P060102007 ┆ 90     │
│ 20190605   ┆ CS003515000195 ┆ P050102002 ┆ 138    │
│ 20181205   ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922   ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504   ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010   ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└────────────┴────────────────┴────────────┴────────┘

---

> P-004: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客 ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
>
> - 顧客 ID（customer_id）が"CS018205000001"

In [5]:
df_receipt.select(
    pl.col("sales_ymd"), pl.col("customer_id"), pl.col("product_cd"), pl.col("amount")
).filter(pl.col("customer_id") == "CS018205000001")

shape: (12, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ 20190216  ┆ CS018205000001 ┆ P071005024 ┆ 102    │
│ …         ┆ …              ┆ …          ┆ …      │
│ 20190924  ┆ CS018205000001 ┆ P060805001 ┆ 495    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
│ 20190216  ┆ CS018205000001 ┆ P040101002 ┆ 218    │
│ 20190924  ┆ CS018205000001 ┆ P091503001 ┆ 280    │
└───────────┴────────────────┴────────────┴────────┘

---

> P-005: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客 ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
>
> - 顧客 ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が 1,000 以上

In [ ]:
df_receipt.select(
    pl.col("sales_ymd"), pl.col("customer_id"), pl.col("product_cd"), pl.col("amount")
).filter((pl.col("customer_id") == "CS018205000001") & (pl.col("amount") >= 1000))

shape: (3, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

---

> P-006: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客 ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
>
> - 顧客 ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が 1,000 以上または売上数量（quantity）が 5 以上

In [ ]:
df_receipt.select(
    pl.col("sales_ymd"),
    pl.col("customer_id"),
    pl.col("product_cd"),
    pl.col("amount"),
    pl.col("quantity"),
).filter(
    (pl.col("customer_id") == "CS018205000001")
    & ((pl.col("amount") >= 1000) | (pl.col("quantity") >= 5))
)

shape: (5, 5)
┌───────────┬────────────────┬────────────┬────────┬──────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount ┆ quantity │
│ ---       ┆ ---            ┆ ---        ┆ ---    ┆ ---      │
│ i64       ┆ str            ┆ str        ┆ i64    ┆ i64      │
╞═══════════╪════════════════╪════════════╪════════╪══════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   ┆ 1        │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    ┆ 6        │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    ┆ 5        │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   ┆ 1        │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   ┆ 1        │
└───────────┴────────────────┴────────────┴────────┴──────────┘

---

> P-007: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客 ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
>
> - 顧客 ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が 1,000 以上 2,000 以下

In [ ]:
df_receipt.select(
    pl.col("sales_ymd"), pl.col("customer_id"), pl.col("product_cd"), pl.col("amount")
).filter(
    (pl.col("customer_id") == "CS018205000001")
    & (pl.col("amount") >= 1000)
    & (pl.col("amount") <= 2000)
)

shape: (1, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

---

> P-008: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客 ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
>
> - 顧客 ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [ ]:
df_receipt.select(
    pl.col("sales_ymd"), pl.col("customer_id"), pl.col("product_cd"), pl.col("amount")
).filter(
    (pl.col("customer_id") == "CS018205000001") & (pl.col("product_cd") != "P071401019")
)

shape: (12, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ 20190216  ┆ CS018205000001 ┆ P071005024 ┆ 102    │
│ …         ┆ …              ┆ …          ┆ …      │
│ 20190924  ┆ CS018205000001 ┆ P060805001 ┆ 495    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
│ 20190216  ┆ CS018205000001 ┆ P040101002 ┆ 218    │
│ 20190924  ┆ CS018205000001 ┆ P091503001 ┆ 280    │
└───────────┴────────────────┴────────────┴────────┘

---

> P-009: 以下の処理において、出力結果を変えずに OR を AND に書き換えよ。
>
> `df_store.query('not(prefecture_cd == "13" | floor_area > 900)')`

In [ ]:
df_store.filter((pl.col("prefecture_cd") != 13) & (pl.col("floor_area") <= 900))

shape: (3, 10)
┌──────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ store_cd ┆ store_name ┆ prefectur ┆ prefectur ┆ … ┆ tel_no    ┆ longitude ┆ latitude ┆ floor_are │
│ ---      ┆ ---        ┆ e_cd      ┆ e         ┆   ┆ ---       ┆ ---       ┆ ---      ┆ a         │
│ str      ┆ str        ┆ ---       ┆ ---       ┆   ┆ str       ┆ f64       ┆ f64      ┆ ---       │
│          ┆            ┆ i64       ┆ str       ┆   ┆           ┆           ┆          ┆ f64       │
╞══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ S14046   ┆ 北山田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5916  ┆ 35.56189 ┆ 831.0     │
│          ┆            ┆           ┆           ┆   ┆ 049       ┆           ┆          ┆           │
│ S14011   ┆ 日吉本町店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6316  ┆ 35.54655 ┆ 890.0     │
│          ┆            ┆           ┆           ┆   ┆ 033       ┆           ┆          ┆           │
│ S12013   ┆ 習志野店   ┆ 12        ┆ 千葉県    ┆ … ┆ 047-123-4 ┆ 140.022   ┆ 35.66122 ┆ 808.0     │
│          ┆            ┆           ┆           ┆   ┆ 002       ┆           ┆          ┆           │
└──────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

---

> P-010: 店舗データ（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10 件表示せよ。

In [18]:
df_store.filter(pl.col("store_cd").str.starts_with("S14")).head(10)

shape: (10, 10)
┌──────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ store_cd ┆ store_name ┆ prefectur ┆ prefectur ┆ … ┆ tel_no    ┆ longitude ┆ latitude ┆ floor_are │
│ ---      ┆ ---        ┆ e_cd      ┆ e         ┆   ┆ ---       ┆ ---       ┆ ---      ┆ a         │
│ str      ┆ str        ┆ ---       ┆ ---       ┆   ┆ str       ┆ f64       ┆ f64      ┆ ---       │
│          ┆            ┆ i64       ┆ str       ┆   ┆           ┆           ┆          ┆ f64       │
╞══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ S14010   ┆ 菊名店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0    │
│          ┆            ┆           ┆           ┆   ┆ 032       ┆           ┆          ┆           │
│ S14033   ┆ 阿久和店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0    │
│          ┆            ┆           ┆           ┆   ┆ 043       ┆           ┆          ┆           │
│ S14036   ┆ 相模原中央 ┆ 14        ┆ 神奈川県  ┆ … ┆ 042-123-4 ┆ 139.3716  ┆ 35.57327 ┆ 1679.0    │
│          ┆ 店         ┆           ┆           ┆   ┆ 045       ┆           ┆          ┆           │
│ S14040   ┆ 長津田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0    │
│          ┆            ┆           ┆           ┆   ┆ 046       ┆           ┆          ┆           │
│ S14050   ┆ 阿久和西店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1830.0    │
│          ┆            ┆           ┆           ┆   ┆ 053       ┆           ┆          ┆           │
│ S14028   ┆ 二ツ橋店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4963  ┆ 35.46304 ┆ 1574.0    │
│          ┆            ┆           ┆           ┆   ┆ 042       ┆           ┆          ┆           │
│ S14012   ┆ 本牧和田店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6582  ┆ 35.42156 ┆ 1341.0    │
│          ┆            ┆           ┆           ┆   ┆ 034       ┆           ┆          ┆           │
│ S14046   ┆ 北山田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5916  ┆ 35.56189 ┆ 831.0     │
│          ┆            ┆           ┆           ┆   ┆ 049       ┆           ┆          ┆           │
│ S14022   ┆ 逗子店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 046-123-4 ┆ 139.5789  ┆ 35.29642 ┆ 1838.0    │
│          ┆            ┆           ┆           ┆   ┆ 036       ┆           ┆          ┆           │
│ S14011   ┆ 日吉本町店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6316  ┆ 35.54655 ┆ 890.0     │
│          ┆            ┆           ┆           ┆   ┆ 033       ┆           ┆          ┆           │
└──────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

---

> P-011: 顧客データ（df_customer）から顧客 ID（customer_id）の末尾が 1 のものだけ全項目抽出し、10 件表示せよ。

In [19]:
df_customer.filter(pl.col("customer_id").str.ends_with("1")).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS03761300 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ … ┆ 東京都江  ┆ S13037    ┆ 20150414  ┆ 0-0000000 │
│ 0071       ┆            ┆           ┆        ┆   ┆ 東区南砂* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02881100 ┆ 堀井       ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14028    ┆ 20160115  ┆ 0-0000000 │
│ 0001       ┆ かおり     ┆           ┆        ┆   ┆ 横浜市泉  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 区和泉町* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS04041200 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14040    ┆ 20151101  ┆ 1-2009102 │
│ 0191       ┆            ┆           ┆        ┆   ┆ 横浜市緑  ┆           ┆           ┆ 5-4       │
│            ┆            ┆           ┆        ┆   ┆ 区北八朔  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS02831400 ┆ 小菅       ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14028    ┆ 20151123  ┆ 1-2008042 │
│ 0011       ┆ あおい     ┆           ┆        ┆   ┆ 横浜市瀬  ┆           ┆           ┆ 6-5       │
│            ┆            ┆           ┆        ┆   ┆ 谷区宮沢* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS03921200 ┆ 藤島       ┆ 1         ┆ 女性   ┆ … ┆ 東京都杉  ┆ S13039    ┆ 20171121  ┆ 1-2010021 │
│ 0051       ┆ 恵梨香     ┆           ┆        ┆   ┆ 並区阿佐  ┆           ┆           ┆ 5-4       │
│            ┆            ┆           ┆        ┆   ┆ 谷北***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS01541200 ┆ 松居 奈月  ┆ 1         ┆ 女性   ┆ … ┆ 東京都江  ┆ S13015    ┆ 20150629  ┆ 0-0000000 │
│ 0111       ┆            ┆           ┆        ┆   ┆ 東区亀戸* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS00470200 ┆ 野島 洋    ┆ 0         ┆ 男性   ┆ … ┆ 東京都練  ┆ S13004    ┆ 20170218  ┆ 0-0000000 │
│ 0041       ┆            ┆           ┆        ┆   ┆ 馬区向山* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS04151500 ┆ 栗田 千夏  ┆ 1         ┆ 女性   ┆ … ┆ 東京都多  ┆ S13041    ┆ 20160422  ┆ E-2010080 │
│ 0001       ┆            ┆           ┆        ┆   ┆ 摩市和田* ┆           ┆           ┆ 3-F       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02931300 ┆ 北条       ┆ 1         ┆ 女性   ┆ … ┆ 千葉県浦  ┆ S12029    ┆ 20180810  ┆ 0-0000000 │
│ 0221       ┆ ひかり     ┆           ┆        ┆   ┆ 安市美浜* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS03431200 ┆ 望月 奈央  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14034    ┆ 20160106  ┆ 0-0000000 │
│ 0071       ┆            ┆           ┆        ┆   ┆ 川崎市高  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 津区久末* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---

> P-012: 店舗データ（df_store）から、住所 (address) に"横浜市"が含まれるものだけ全項目表示せよ。

In [ ]:
df_store.filter(pl.col("address").str.contains("横浜市"))

shape: (11, 10)
┌──────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ store_cd ┆ store_name ┆ prefectur ┆ prefectur ┆ … ┆ tel_no    ┆ longitude ┆ latitude ┆ floor_are │
│ ---      ┆ ---        ┆ e_cd      ┆ e         ┆   ┆ ---       ┆ ---       ┆ ---      ┆ a         │
│ str      ┆ str        ┆ ---       ┆ ---       ┆   ┆ str       ┆ f64       ┆ f64      ┆ ---       │
│          ┆            ┆ i64       ┆ str       ┆   ┆           ┆           ┆          ┆ f64       │
╞══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ S14010   ┆ 菊名店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0    │
│          ┆            ┆           ┆           ┆   ┆ 032       ┆           ┆          ┆           │
│ S14033   ┆ 阿久和店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0    │
│          ┆            ┆           ┆           ┆   ┆ 043       ┆           ┆          ┆           │
│ S14040   ┆ 長津田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0    │
│          ┆            ┆           ┆           ┆   ┆ 046       ┆           ┆          ┆           │
│ S14050   ┆ 阿久和西店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1830.0    │
│          ┆            ┆           ┆           ┆   ┆ 053       ┆           ┆          ┆           │
│ S14028   ┆ 二ツ橋店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4963  ┆ 35.46304 ┆ 1574.0    │
│          ┆            ┆           ┆           ┆   ┆ 042       ┆           ┆          ┆           │
│ …        ┆ …          ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …        ┆ …         │
│ S14046   ┆ 北山田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5916  ┆ 35.56189 ┆ 831.0     │
│          ┆            ┆           ┆           ┆   ┆ 049       ┆           ┆          ┆           │
│ S14011   ┆ 日吉本町店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6316  ┆ 35.54655 ┆ 890.0     │
│          ┆            ┆           ┆           ┆   ┆ 033       ┆           ┆          ┆           │
│ S14048   ┆ 中川中央店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5758  ┆ 35.54912 ┆ 1657.0    │
│          ┆            ┆           ┆           ┆   ┆ 051       ┆           ┆          ┆           │
│ S14042   ┆ 新山下店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6593  ┆ 35.43894 ┆ 1044.0    │
│          ┆            ┆           ┆           ┆   ┆ 047       ┆           ┆          ┆           │
│ S14006   ┆ 葛が谷店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5633  ┆ 35.53573 ┆ 1886.0    │
│          ┆            ┆           ┆           ┆   ┆ 031       ┆           ┆          ┆           │
└──────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

---

> P-013: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットの A〜F で始まるデータを全項目抽出し、10 件表示せよ。

In [22]:
# > P-013: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットの A〜F で始まるデータを全項目抽出し、10 件表示せよ。
df_customer.filter(pl.col("status_cd").str.contains("^[A-F]")).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS03141500 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ … ┆ 東京都渋  ┆ S13031    ┆ 20150529  ┆ D-2010032 │
│ 0172       ┆ 貴美子     ┆           ┆        ┆   ┆ 谷区代々  ┆           ┆           ┆ 5-C       │
│            ┆            ┆           ┆        ┆   ┆ 木******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01541400 ┆ 奥野 陽子  ┆ 1         ┆ 女性   ┆ … ┆ 東京都江  ┆ S13015    ┆ 20150722  ┆ B-2010060 │
│ 0103       ┆            ┆           ┆        ┆   ┆ 東区北砂* ┆           ┆           ┆ 9-B       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS01121500 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14011    ┆ 20150228  ┆ C-2010042 │
│ 0048       ┆            ┆           ┆        ┆   ┆ 横浜市港  ┆           ┆           ┆ 1-9       │
│            ┆            ┆           ┆        ┆   ┆ 北区日吉  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 本町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS02941500 ┆ 梅田 里穂  ┆ 1         ┆ 女性   ┆ … ┆ 千葉県浦  ┆ S12029    ┆ 20150610  ┆ D-2010091 │
│ 0023       ┆            ┆           ┆        ┆   ┆ 安市富士  ┆           ┆           ┆ 8-E       │
│            ┆            ┆           ┆        ┆   ┆ 見******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03541500 ┆ 寺沢 真希  ┆ 9         ┆ 不明   ┆ … ┆ 東京都世  ┆ S13035    ┆ 20141220  ┆ F-2010102 │
│ 0029       ┆            ┆           ┆        ┆   ┆ 田谷区玉  ┆           ┆           ┆ 9-F       │
│            ┆            ┆           ┆        ┆   ┆ 川台***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS03141500 ┆ 宇野       ┆ 1         ┆ 女性   ┆ … ┆ 東京都渋  ┆ S13031    ┆ 20150201  ┆ F-2010051 │
│ 0106       ┆ 由美子     ┆           ┆        ┆   ┆ 谷区代々  ┆           ┆           ┆ 1-E       │
│            ┆            ┆           ┆        ┆   ┆ 木******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS02921500 ┆ 石倉 美帆  ┆ 1         ┆ 女性   ┆ … ┆ 千葉県浦  ┆ S12029    ┆ 20150708  ┆ B-2010082 │
│ 0025       ┆            ┆           ┆        ┆   ┆ 安市今川* ┆           ┆           ┆ 0-C       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS03360500 ┆ 猪股 雄太  ┆ 0         ┆ 男性   ┆ … ┆ 神奈川県  ┆ S14033    ┆ 20150425  ┆ F-2010091 │
│ 0005       ┆            ┆           ┆        ┆   ┆ 横浜市瀬  ┆           ┆           ┆ 7-E       │
│            ┆            ┆           ┆        ┆   ┆ 谷区瀬谷* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS03341500 ┆ 板垣       ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14033    ┆ 20150712  ┆ F-2010032 │
│ 0229       ┆ 菜々美     ┆           ┆        ┆   ┆ 横浜市瀬  ┆           ┆           ┆ 6-E       │
│            ┆            ┆           ┆        ┆   ┆ 谷区二ツ  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 橋町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS00841500 ┆ 黒谷 麻緒  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13008    ┆ 20150829  ┆ F-2010062 │
│ 0145       ┆            ┆           ┆        ┆   ┆ 田谷区喜  ┆           ┆           ┆ 2-F       │
│            ┆            ┆           ┆        ┆   ┆ 多見***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---

> P-014: 顧客データ（df_customer）から、ステータスコード（status_cd）の末尾が数字の 1〜9 で終わるデータを全項目抽出し、10 件表示せよ。

In [23]:
df_customer.filter(pl.col("status_cd").str.contains("[1-9]$")).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS00121500 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20170605  ┆ 6-2009092 │
│ 0145       ┆            ┆           ┆        ┆   ┆ 田区仲六  ┆           ┆           ┆ 9-2       │
│            ┆            ┆           ┆        ┆   ┆ 郷******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03351300 ┆ 安斎 遥    ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14033    ┆ 20150728  ┆ 6-2008050 │
│ 0180       ┆            ┆           ┆        ┆   ┆ 横浜市旭  ┆           ┆           ┆ 6-5       │
│            ┆            ┆           ┆        ┆   ┆ 区善部町* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS01121500 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14011    ┆ 20150228  ┆ C-2010042 │
│ 0048       ┆            ┆           ┆        ┆   ┆ 横浜市港  ┆           ┆           ┆ 1-9       │
│            ┆            ┆           ┆        ┆   ┆ 北区日吉  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 本町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS04041200 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14040    ┆ 20151101  ┆ 1-2009102 │
│ 0191       ┆            ┆           ┆        ┆   ┆ 横浜市緑  ┆           ┆           ┆ 5-4       │
│            ┆            ┆           ┆        ┆   ┆ 区北八朔  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00931500 ┆ 皆川 文世  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13009    ┆ 20150319  ┆ 5-2008032 │
│ 0023       ┆            ┆           ┆        ┆   ┆ 田谷区駒  ┆           ┆           ┆ 2-1       │
│            ┆            ┆           ┆        ┆   ┆ 沢******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01531500 ┆ 福士       ┆ 1         ┆ 女性   ┆ … ┆ 東京都江  ┆ S13015    ┆ 20141024  ┆ 4-2008021 │
│ 0033       ┆ 璃奈子     ┆           ┆        ┆   ┆ 東区塩浜* ┆           ┆           ┆ 9-3       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02351300 ┆ 神戸 そら  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14023    ┆ 20150915  ┆ 5-2010052 │
│ 0066       ┆            ┆           ┆        ┆   ┆ 川崎市川  ┆           ┆           ┆ 4-9       │
│            ┆            ┆           ┆        ┆   ┆ 崎区東田  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03551300 ┆ 市川 美帆  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13035    ┆ 20150227  ┆ 8-2010071 │
│ 0134       ┆            ┆           ┆        ┆   ┆ 田谷区桜* ┆           ┆           ┆ 1-9       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS00151500 ┆ 高松 夏空  ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20160812  ┆ 1-2010080 │
│ 0263       ┆            ┆           ┆        ┆   ┆ 田区西蒲  ┆           ┆           ┆ 4-1       │
│            ┆            ┆           ┆        ┆   ┆ 田******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS04031400 ┆ 鶴田       ┆ 9         ┆ 不明   ┆ … ┆ 神奈川県  ┆ S14040    ┆ 20150122  ┆ 2-2008042 │
│ 0027       ┆ きみまろ   ┆           ┆        ┆   ┆ 横浜市緑  ┆           ┆           ┆ 6-4       │
│            ┆            ┆           ┆        ┆   ┆ 区長津田* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---

> P-015: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットの A〜F で始まり、末尾が数字の 1〜9 で終わるデータを全項目抽出し、10 件表示せよ。

In [25]:
df_customer.filter(pl.col("status_cd").str.contains("^[A-F].*[1-9]$")).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS01121500 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14011    ┆ 20150228  ┆ C-2010042 │
│ 0048       ┆            ┆           ┆        ┆   ┆ 横浜市港  ┆           ┆           ┆ 1-9       │
│            ┆            ┆           ┆        ┆   ┆ 北区日吉  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 本町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS02251300 ┆ 島村       ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14022    ┆ 20150320  ┆ A-2009111 │
│ 0105       ┆ 貴美子     ┆           ┆        ┆   ┆ 逗子市山  ┆           ┆           ┆ 5-7       │
│            ┆            ┆           ┆        ┆   ┆ の根***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS00151500 ┆ 水野 陽子  ┆ 9         ┆ 不明   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20150614  ┆ A-2010072 │
│ 0096       ┆            ┆           ┆        ┆   ┆ 田区蒲田  ┆           ┆           ┆ 4-7       │
│            ┆            ┆           ┆        ┆   ┆ 本町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS01361500 ┆ 西脇 季衣  ┆ 1         ┆ 女性   ┆ … ┆ 千葉県千  ┆ S12013    ┆ 20150128  ┆ B-2010032 │
│ 0053       ┆            ┆           ┆        ┆   ┆ 葉市美浜  ┆           ┆           ┆ 9-6       │
│            ┆            ┆           ┆        ┆   ┆ 区幕張西* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02041200 ┆ 小宮 薫    ┆ 1         ┆ 女性   ┆ … ┆ 東京都板  ┆ S13020    ┆ 20150822  ┆ B-2008102 │
│ 0161       ┆            ┆           ┆        ┆   ┆ 橋区東坂  ┆           ┆           ┆ 1-3       │
│            ┆            ┆           ┆        ┆   ┆ 下******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00121500 ┆ 竹中       ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20170315  ┆ A-2010021 │
│ 0097       ┆ あさみ     ┆           ┆        ┆   ┆ 田区多摩  ┆           ┆           ┆ 1-2       │
│            ┆            ┆           ┆        ┆   ┆ 川******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03521200 ┆ 内村       ┆ 1         ┆ 女性   ┆ … ┆ 東京都目  ┆ S13035    ┆ 20151013  ┆ B-2010101 │
│ 0007       ┆ 恵梨香     ┆           ┆        ┆   ┆ 黒区八雲* ┆           ┆           ┆ 8-6       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS00251500 ┆ 野田 コウ  ┆ 1         ┆ 女性   ┆ … ┆ 東京都国  ┆ S13002    ┆ 20160410  ┆ C-2010012 │
│ 0386       ┆            ┆           ┆        ┆   ┆ 分寺市西  ┆           ┆           ┆ 7-8       │
│            ┆            ┆           ┆        ┆   ┆ 恋ケ窪*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS00161500 ┆ 稲垣       ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20170403  ┆ A-2010010 │
│ 0372       ┆ 寿々花     ┆           ┆        ┆   ┆ 田区南蒲  ┆           ┆           ┆ 4-1       │
│            ┆            ┆           ┆        ┆   ┆ 田******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03251200 ┆ 松井 知世  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S13032    ┆ 20150727  ┆ A-2010010 │
│ 0121       ┆            ┆           ┆        ┆   ┆ 川崎市川  ┆           ┆           ┆ 3-5       │
│            ┆            ┆           ┆        ┆   ┆ 崎区富士  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 見******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---

> P-016: 店舗データ（df_store）から、電話番号（tel_no）が 3 桁-3 桁-4 桁のデータを全項目表示せよ。

In [26]:
df_store.filter(pl.col("tel_no").str.contains(r"^\d{3}-\d{3}-\d{4}$"))

shape: (34, 10)
┌──────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ store_cd ┆ store_name ┆ prefectur ┆ prefectur ┆ … ┆ tel_no    ┆ longitude ┆ latitude ┆ floor_are │
│ ---      ┆ ---        ┆ e_cd      ┆ e         ┆   ┆ ---       ┆ ---       ┆ ---      ┆ a         │
│ str      ┆ str        ┆ ---       ┆ ---       ┆   ┆ str       ┆ f64       ┆ f64      ┆ ---       │
│          ┆            ┆ i64       ┆ str       ┆   ┆           ┆           ┆          ┆ f64       │
╞══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ S12014   ┆ 千草台店   ┆ 12        ┆ 千葉県    ┆ … ┆ 043-123-4 ┆ 140.118   ┆ 35.63559 ┆ 1698.0    │
│          ┆            ┆           ┆           ┆   ┆ 003       ┆           ┆          ┆           │
│ S13002   ┆ 国分寺店   ┆ 13        ┆ 東京都    ┆ … ┆ 042-123-4 ┆ 139.4802  ┆ 35.70566 ┆ 1735.0    │
│          ┆            ┆           ┆           ┆   ┆ 008       ┆           ┆          ┆           │
│ S14010   ┆ 菊名店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0    │
│          ┆            ┆           ┆           ┆   ┆ 032       ┆           ┆          ┆           │
│ S14033   ┆ 阿久和店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0    │
│          ┆            ┆           ┆           ┆   ┆ 043       ┆           ┆          ┆           │
│ S14036   ┆ 相模原中央 ┆ 14        ┆ 神奈川県  ┆ … ┆ 042-123-4 ┆ 139.3716  ┆ 35.57327 ┆ 1679.0    │
│          ┆ 店         ┆           ┆           ┆   ┆ 045       ┆           ┆          ┆           │
│ …        ┆ …          ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …        ┆ …         │
│ S14045   ┆ 厚木店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 046-123-4 ┆ 139.3651  ┆ 35.44182 ┆ 980.0     │
│          ┆            ┆           ┆           ┆   ┆ 048       ┆           ┆          ┆           │
│ S12029   ┆ 東野店     ┆ 12        ┆ 千葉県    ┆ … ┆ 047-123-4 ┆ 139.8968  ┆ 35.65086 ┆ 1101.0    │
│          ┆            ┆           ┆           ┆   ┆ 004       ┆           ┆          ┆           │
│ S12053   ┆ 高洲店     ┆ 12        ┆ 千葉県    ┆ … ┆ 047-123-4 ┆ 139.9176  ┆ 35.63755 ┆ 1555.0    │
│          ┆            ┆           ┆           ┆   ┆ 006       ┆           ┆          ┆           │
│ S14024   ┆ 三田店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 044-123-4 ┆ 139.5424  ┆ 35.6077  ┆ 972.0     │
│          ┆            ┆           ┆           ┆   ┆ 038       ┆           ┆          ┆           │
│ S14006   ┆ 葛が谷店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5633  ┆ 35.53573 ┆ 1886.0    │
│          ┆            ┆           ┆           ┆   ┆ 031       ┆           ┆          ┆           │
└──────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

---

> P-017: 顧客データ（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭から全項目を 10 件表示せよ。

In [29]:
df_customer.sort("birth_day").head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS00381300 ┆ 村山       ┆ 1         ┆ 女性   ┆ … ┆ 東京都調  ┆ S13003    ┆ 20160214  ┆ 0-0000000 │
│ 0014       ┆ 菜々美     ┆           ┆        ┆   ┆ 布市菊野  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 台******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS02681300 ┆ 吉村 朝陽  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14026    ┆ 20150723  ┆ 0-0000000 │
│ 0004       ┆            ┆           ┆        ┆   ┆ 藤沢市辻  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 堂元町*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS01881100 ┆ 熊沢 美里  ┆ 1         ┆ 女性   ┆ … ┆ 東京都清  ┆ S13018    ┆ 20150403  ┆ 0-0000000 │
│ 0003       ┆            ┆           ┆        ┆   ┆ 瀬市野塩* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02780300 ┆ 内村 拓郎  ┆ 0         ┆ 男性   ┆ … ┆ 神奈川県  ┆ S14027    ┆ 20151227  ┆ 0-0000000 │
│ 0004       ┆            ┆           ┆        ┆   ┆ 藤沢市鵠  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 沼藤が谷* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS01380100 ┆ 天野 拓郎  ┆ 0         ┆ 男性   ┆ … ┆ 千葉県船  ┆ S12013    ┆ 20160120  ┆ 0-0000000 │
│ 0003       ┆            ┆           ┆        ┆   ┆ 橋市前原  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 東******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00181400 ┆ 鶴田 里穂  ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20161012  ┆ A-2009041 │
│ 0022       ┆            ┆           ┆        ┆   ┆ 田区南六  ┆           ┆           ┆ 5-7       │
│            ┆            ┆           ┆        ┆   ┆ 郷******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01681500 ┆ 山元 美紀  ┆ 1         ┆ 女性   ┆ … ┆ 東京都小  ┆ S13016    ┆ 20150629  ┆ C-2009092 │
│ 0002       ┆            ┆           ┆        ┆   ┆ 金井市桜  ┆           ┆           ┆ 3-C       │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00981500 ┆ 中田 里穂  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13009    ┆ 20150421  ┆ D-2009102 │
│ 0003       ┆            ┆           ┆        ┆   ┆ 田谷区新  ┆           ┆           ┆ 1-E       │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01281300 ┆ 宇野 南朋  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14012    ┆ 20150712  ┆ 0-0000000 │
│ 0013       ┆            ┆           ┆        ┆   ┆ 横浜市中  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 区本牧町* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS00581300 ┆ 金谷       ┆ 1         ┆ 女性   ┆ … ┆ 東京都中  ┆ S13005    ┆ 20150506  ┆ 0-0000000 │
│ 0015       ┆ 恵梨香     ┆           ┆        ┆   ┆ 野区鷺宮* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---

> P-018: 顧客データ（df_customer）を生年月日（birth_day）で若い順にソートし、先頭から全項目を 10 件表示せよ。

In [31]:
df_customer.sort("birth_day", descending=True).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS03511400 ┆ 大村 美里  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13035    ┆ 20150619  ┆ 6-2009120 │
│ 0004       ┆            ┆           ┆        ┆   ┆ 田谷区桜* ┆           ┆           ┆ 5-6       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02210300 ┆ 福山       ┆ 9         ┆ 不明   ┆ … ┆ 神奈川県  ┆ S14022    ┆ 20160909  ┆ 0-0000000 │
│ 0002       ┆ はじめ     ┆           ┆        ┆   ┆ 逗子市逗  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 子******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00211300 ┆ 柴田       ┆ 1         ┆ 女性   ┆ … ┆ 東京都小  ┆ S13002    ┆ 20160304  ┆ 0-0000000 │
│ 0009       ┆ 真悠子     ┆           ┆        ┆   ┆ 金井市貫  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 井南町*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS00411500 ┆ 松井 京子  ┆ 1         ┆ 女性   ┆ … ┆ 東京都中  ┆ S13004    ┆ 20161120  ┆ 1-2008123 │
│ 0014       ┆            ┆           ┆        ┆   ┆ 野区上鷺  ┆           ┆           ┆ 1-1       │
│            ┆            ┆           ┆        ┆   ┆ 宮******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00211400 ┆ 山内 遥    ┆ 1         ┆ 女性   ┆ … ┆ 東京都小  ┆ S13002    ┆ 20160920  ┆ 6-2010051 │
│ 0010       ┆            ┆           ┆        ┆   ┆ 金井市貫  ┆           ┆           ┆ 0-1       │
│            ┆            ┆           ┆        ┆   ┆ 井北町*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS02511500 ┆ 小柳 夏希  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14025    ┆ 20160116  ┆ D-2010091 │
│ 0002       ┆            ┆           ┆        ┆   ┆ 横浜市泉  ┆           ┆           ┆ 3-D       │
│            ┆            ┆           ┆        ┆   ┆ 区上飯田  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00211300 ┆ 広末       ┆ 1         ┆ 女性   ┆ … ┆ 東京都小  ┆ S13002    ┆ 20171030  ┆ 0-0000000 │
│ 0025       ┆ まなみ     ┆           ┆        ┆   ┆ 金井市貫  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 井北町*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS03311200 ┆ 長野 美紀  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14033    ┆ 20150606  ┆ 0-0000000 │
│ 0003       ┆            ┆           ┆        ┆   ┆ 横浜市戸  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 塚区名瀬  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00711500 ┆ 福岡 瞬    ┆ 1         ┆ 女性   ┆ … ┆ 千葉県佐  ┆ S12007    ┆ 20151118  ┆ F-2010101 │
│ 0006       ┆            ┆           ┆        ┆   ┆ 倉市西志  ┆           ┆           ┆ 6-F       │
│            ┆            ┆           ┆        ┆   ┆ 津******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01411300 ┆ 矢口 莉緒  ┆ 1         ┆ 女性   ┆ … ┆ 千葉県千  ┆ S12014    ┆ 20150622  ┆ 3-2009110 │
│ 0008       ┆            ┆           ┆        ┆   ┆ 葉市中央  ┆           ┆           ┆ 8-6       │
│            ┆            ┆           ┆        ┆   ┆ 区東千葉* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---

> P-019: レシート明細データ（df_receipt）に対し、1 件あたりの売上金額（amount）が高い順にランクを付与し、先頭から 10 件表示せよ。項目は顧客 ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [40]:
df_receipt.select(
    pl.col("customer_id"),
    pl.col("amount"),
    pl.col("amount").rank(method="min", descending=True).alias("amount_rank"),
).sort(pl.col("amount_rank")).head(10)

shape: (10, 3)
┌────────────────┬────────┬─────────────┐
│ customer_id    ┆ amount ┆ amount_rank │
│ ---            ┆ ---    ┆ ---         │
│ str            ┆ i64    ┆ u32         │
╞════════════════╪════════╪═════════════╡
│ CS011415000006 ┆ 10925  ┆ 1           │
│ ZZ000000000000 ┆ 6800   ┆ 2           │
│ CS028605000002 ┆ 5780   ┆ 3           │
│ CS015515000034 ┆ 5480   ┆ 4           │
│ ZZ000000000000 ┆ 5480   ┆ 4           │
│ ZZ000000000000 ┆ 5480   ┆ 4           │
│ ZZ000000000000 ┆ 5440   ┆ 7           │
│ CS021515000089 ┆ 5440   ┆ 7           │
│ CS015515000083 ┆ 5280   ┆ 9           │
│ CS017414000114 ┆ 5280   ┆ 9           │
└────────────────┴────────┴─────────────┘

---

> P-020: レシート明細データ（df_receipt）に対し、1 件あたりの売上金額（amount）が高い順にランクを付与し、先頭から 10 件表示せよ。項目は顧客 ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

In [4]:
df_receipt.select(
    pl.col("customer_id"),
    pl.col("amount"),
    pl.col("amount").rank(method="ordinal", descending=True).alias("amount_rank"),
).sort(pl.col("amount_rank")).head(10)

shape: (10, 3)
┌────────────────┬────────┬─────────────┐
│ customer_id    ┆ amount ┆ amount_rank │
│ ---            ┆ ---    ┆ ---         │
│ str            ┆ i64    ┆ u32         │
╞════════════════╪════════╪═════════════╡
│ CS011415000006 ┆ 10925  ┆ 1           │
│ ZZ000000000000 ┆ 6800   ┆ 2           │
│ CS028605000002 ┆ 5780   ┆ 3           │
│ CS015515000034 ┆ 5480   ┆ 4           │
│ ZZ000000000000 ┆ 5480   ┆ 5           │
│ ZZ000000000000 ┆ 5480   ┆ 6           │
│ ZZ000000000000 ┆ 5440   ┆ 7           │
│ CS021515000089 ┆ 5440   ┆ 8           │
│ CS015515000083 ┆ 5280   ┆ 9           │
│ CS017414000114 ┆ 5280   ┆ 10          │
└────────────────┴────────┴─────────────┘

---

> P-021: レシート明細データ（df_receipt）に対し、件数をカウントせよ。

In [6]:
df_receipt.shape[0]

104681

---

> P-022: レシート明細データ（df_receipt）の顧客 ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [10]:
df_receipt.select(pl.col("customer_id")).n_unique()

8307

---

> P-023: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

In [21]:
df_receipt.select(
    pl.col("store_cd"),
    pl.col("amount"),
    pl.col("quantity"),
).group_by(pl.col("store_cd")).sum()

shape: (52, 3)
┌──────────┬────────┬──────────┐
│ store_cd ┆ amount ┆ quantity │
│ ---      ┆ ---    ┆ ---      │
│ str      ┆ i64    ┆ i64      │
╞══════════╪════════╪══════════╡
│ S14023   ┆ 727630 ┆ 2258     │
│ S13051   ┆ 107452 ┆ 354      │
│ S13001   ┆ 811936 ┆ 2347     │
│ S14049   ┆ 230808 ┆ 788      │
│ S13038   ┆ 708884 ┆ 2337     │
│ …        ┆ …      ┆ …        │
│ S13043   ┆ 587895 ┆ 1881     │
│ S14034   ┆ 653681 ┆ 2024     │
│ S13005   ┆ 629876 ┆ 2004     │
│ S14025   ┆ 755581 ┆ 2394     │
│ S12007   ┆ 638761 ┆ 2099     │
└──────────┴────────┴──────────┘

---

> P-024: レシート明細データ（df_receipt）に対し、顧客 ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）を求め、10 件表示せよ。

In [ ]:
df_receipt.select(
    pl.col("customer_id"),
    pl.col("sales_ymd"),
).group_by(pl.col("customer_id")).max()

shape: (8_307, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ sales_ymd │
│ ---            ┆ ---       │
│ str            ┆ i64       │
╞════════════════╪═══════════╡
│ CS004612000146 ┆ 20171230  │
│ CS001114000005 ┆ 20190731  │
│ CS004314000027 ┆ 20190420  │
│ CS019314000045 ┆ 20180515  │
│ CS002415000510 ┆ 20190622  │
│ …              ┆ …         │
│ CS015515000165 ┆ 20190804  │
│ CS003512000501 ┆ 20181227  │
│ CS033304000004 ┆ 20191019  │
│ CS019214000026 ┆ 20190501  │
│ CS005513000083 ┆ 20190111  │
└────────────────┴───────────┘

---

> P-025: レシート明細データ（df_receipt）に対し、顧客 ID（customer_id）ごとに最も古い売上年月日（sales_ymd）を求め、10 件表示せよ。

In [27]:
df_receipt.select(
    pl.col("customer_id"),
    pl.col("sales_ymd"),
).group_by(pl.col("customer_id")).min()

shape: (8_307, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ sales_ymd │
│ ---            ┆ ---       │
│ str            ┆ i64       │
╞════════════════╪═══════════╡
│ CS018604000001 ┆ 20170510  │
│ CS005412000036 ┆ 20171021  │
│ CS011515000234 ┆ 20170102  │
│ CS034513000122 ┆ 20170722  │
│ CS023615000057 ┆ 20171223  │
│ …              ┆ …         │
│ CS033512000155 ┆ 20171208  │
│ CS012415000178 ┆ 20170313  │
│ CS032413000073 ┆ 20170317  │
│ CS013513000061 ┆ 20190517  │
│ CS030512000166 ┆ 20170804  │
└────────────────┴───────────┘

---

> P-026: レシート明細データ（df_receipt）に対し、顧客 ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）と古い売上年月日を求め、両者が異なるデータを 10 件表示せよ。

In [33]:
df_receipt.select(
    pl.col("customer_id"),
    pl.col("sales_ymd"),
).group_by(pl.col("customer_id")).agg(
    pl.col("sales_ymd").max().alias("max_sales_ymd"),
    pl.col("sales_ymd").min().alias("min_sales_ymd"),
).filter(pl.col("max_sales_ymd") != pl.col("min_sales_ymd")).head(10)

shape: (10, 3)
┌────────────────┬───────────────┬───────────────┐
│ customer_id    ┆ max_sales_ymd ┆ min_sales_ymd │
│ ---            ┆ ---           ┆ ---           │
│ str            ┆ i64           ┆ i64           │
╞════════════════╪═══════════════╪═══════════════╡
│ CS034513000239 ┆ 20190906      ┆ 20180608      │
│ CS026605000002 ┆ 20190917      ┆ 20170212      │
│ CS040411000020 ┆ 20190113      ┆ 20170808      │
│ CS029215000031 ┆ 20190511      ┆ 20170319      │
│ CS024515000069 ┆ 20190729      ┆ 20171205      │
│ CS016214000008 ┆ 20190612      ┆ 20170108      │
│ CS015315000140 ┆ 20180218      ┆ 20171018      │
│ CS004415000700 ┆ 20190317      ┆ 20181002      │
│ CS035513000089 ┆ 20191003      ┆ 20170429      │
│ CS014415000200 ┆ 20190903      ┆ 20170216      │
└────────────────┴───────────────┴───────────────┘

---

> P-027: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順で TOP5 を表示せよ。

In [39]:
df_receipt.select(
    pl.col("store_cd"),
    pl.col("amount"),
).group_by(pl.col("store_cd")).mean().sort("amount", descending=True)

shape: (52, 2)
┌──────────┬────────────┐
│ store_cd ┆ amount     │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ S13052   ┆ 402.86747  │
│ S13015   ┆ 351.11196  │
│ S13003   ┆ 350.915519 │
│ S14010   ┆ 348.791262 │
│ S13001   ┆ 348.470386 │
│ …        ┆ …          │
│ S13037   ┆ 299.907832 │
│ S14049   ┆ 297.816774 │
│ S14050   ┆ 290.591304 │
│ S12030   ┆ 288.533727 │
│ S14042   ┆ 278.338886 │
└──────────┴────────────┘

---

> P-028: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順で TOP5 を表示せよ。

In [43]:
df_receipt.select(
    pl.col("store_cd"),
    pl.col("amount"),
).group_by(pl.col("store_cd")).median().sort("amount", descending=True).head(5)

shape: (5, 2)
┌──────────┬────────┐
│ store_cd ┆ amount │
│ ---      ┆ ---    │
│ str      ┆ f64    │
╞══════════╪════════╡
│ S13052   ┆ 190.0  │
│ S14010   ┆ 188.0  │
│ S14050   ┆ 185.0  │
│ S13003   ┆ 180.0  │
│ S14040   ┆ 180.0  │
└──────────┴────────┘

---

> P-029: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに商品コード（product_cd）の最頻値を求め、10 件表示させよ。

In [53]:
df_receipt.select(
    pl.col("store_cd"),
    pl.col("product_cd"),
).group_by(pl.col("store_cd")).agg(
    pl.col("product_cd").mode().first().alias("mode_product_cd")
).head(10)

shape: (10, 2)
┌──────────┬─────────────────┐
│ store_cd ┆ mode_product_cd │
│ ---      ┆ ---             │
│ str      ┆ str             │
╞══════════╪═════════════════╡
│ S13002   ┆ P060303001      │
│ S13004   ┆ P060303001      │
│ S14045   ┆ P060303001      │
│ S14022   ┆ P060303001      │
│ S14046   ┆ P060303001      │
│ S13020   ┆ P071401001      │
│ S13031   ┆ P060303001      │
│ S14028   ┆ P060303001      │
│ S13003   ┆ P071401001      │
│ S14010   ┆ P060303001      │
└──────────┴─────────────────┘

---

> P-030: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の分散を計算し、降順で 5 件表示せよ。

In [ ]:
df_receipt.select(
    pl.col("store_cd"),
    pl.col("amount"),
).group_by(pl.col("store_cd")).agg(
    pl.col("amount").var(ddof=0).alias("amount_var")
).sort("amount_var", descending=True).head(5)

shape: (5, 2)
┌──────────┬───────────────┐
│ store_cd ┆ amount_var    │
│ ---      ┆ ---           │
│ str      ┆ f64           │
╞══════════╪═══════════════╡
│ S13052   ┆ 440088.701311 │
│ S14011   ┆ 306314.558164 │
│ S14034   ┆ 296920.081011 │
│ S13001   ┆ 295431.993329 │
│ S13015   ┆ 295294.361116 │
└──────────┴───────────────┘

---

> P-031: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標準偏差を計算し、降順で 5 件表示せよ。

TIPS:

Pandas と Numpy で ddof のデフォルト値が異なることに注意しましょう

```
Pandas：
DataFrame.std(self, axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)
Numpy:
numpy.std(a, axis=None, dtype=None, out=None, ddof=0, keepdims=)
```

In [64]:
df_receipt.select(
    pl.col("store_cd"),
    pl.col("amount"),
).group_by(pl.col("store_cd")).agg(
    pl.col("amount").std(ddof=0).alias("amount_std")
).sort("amount_std", descending=True).head(5)

shape: (5, 2)
┌──────────┬────────────┐
│ store_cd ┆ amount_std │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ S13052   ┆ 663.391816 │
│ S14011   ┆ 553.456916 │
│ S14034   ┆ 544.903736 │
│ S13001   ┆ 543.536561 │
│ S13015   ┆ 543.409938 │
└──────────┴────────────┘

---

> P-032: レシート明細データ（df_receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

In [79]:
df_receipt.select(
    pl.col("amount").quantile(p).alias(f"q{p}") for p in [0.25, 0.5, 0.75, 1]
).head(1)

shape: (1, 4)
┌───────┬───────┬───────┬─────────┐
│ q0.25 ┆ q0.5  ┆ q0.75 ┆ q1      │
│ ---   ┆ ---   ┆ ---   ┆ ---     │
│ f64   ┆ f64   ┆ f64   ┆ f64     │
╞═══════╪═══════╪═══════╪═════════╡
│ 102.0 ┆ 170.0 ┆ 288.0 ┆ 10925.0 │
└───────┴───────┴───────┴─────────┘

---

> P-033: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330 以上のものを抽出せよ。

In [83]:
df_receipt.select(
    pl.col("store_cd"),
    pl.col("amount"),
).group_by(pl.col("store_cd")).agg(
    pl.col("amount").mean().alias("amount_mean"),
).filter(pl.col("amount_mean") >= 330)

shape: (13, 2)
┌──────────┬─────────────┐
│ store_cd ┆ amount_mean │
│ ---      ┆ ---         │
│ str      ┆ f64         │
╞══════════╪═════════════╡
│ S14047   ┆ 330.077073  │
│ S13001   ┆ 348.470386  │
│ S14026   ┆ 332.340588  │
│ S13019   ┆ 330.208616  │
│ S14045   ┆ 330.082073  │
│ …        ┆ …           │
│ S14011   ┆ 335.718333  │
│ S13020   ┆ 337.879932  │
│ S13015   ┆ 351.11196   │
│ S13052   ┆ 402.86747   │
│ S13003   ┆ 350.915519  │
└──────────┴─────────────┘

---

> P-034: レシート明細データ（df_receipt）に対し、顧客 ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客 ID が"Z"から始まるものは非会員を表すため、除外して計算すること。

In [10]:
df_receipt.select(
    pl.col("customer_id"),
    pl.col("amount"),
).filter(pl.col("customer_id").str.starts_with("Z").not_()).group_by(
    pl.col("customer_id")
).agg(
    pl.col("amount").sum().alias("amount_mean"),
).mean()

shape: (1, 2)
┌─────────────┬─────────────┐
│ customer_id ┆ amount_mean │
│ ---         ┆ ---         │
│ str         ┆ f64         │
╞═════════════╪═════════════╡
│ null        ┆ 2547.742235 │
└─────────────┴─────────────┘

---

> P-035: レシート明細データ（df_receipt）に対し、顧客 ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出し、10 件表示せよ。ただし、顧客 ID が"Z"から始まるものは非会員を表すため、除外して計算すること。

In [ ]:
df_receipt.select(
    pl.col("customer_id"),
    pl.col("amount"),
).filter(pl.col("customer_id").str.starts_with("Z").not_()).group_by(
    pl.col("customer_id")
).agg(
    pl.col("amount").sum().alias("amount_sum"),
).filter(pl.col("amount_sum") >= pl.col("amount_sum").mean()).head(10)

shape: (10, 2)
┌────────────────┬────────────┐
│ customer_id    ┆ amount_sum │
│ ---            ┆ ---        │
│ str            ┆ i64        │
╞════════════════╪════════════╡
│ CS029414000112 ┆ 2741       │
│ CS019415000084 ┆ 3881       │
│ CS019414000072 ┆ 2724       │
│ CS016513000031 ┆ 4024       │
│ CS014215000052 ┆ 2919       │
│ CS008515000153 ┆ 3175       │
│ CS040415000035 ┆ 13119      │
│ CS029515000188 ┆ 7123       │
│ CS031515000036 ┆ 5383       │
│ CS019412000182 ┆ 3680       │
└────────────────┴────────────┘

---

> P-036: レシート明細データ（df_receipt）と店舗データ（df_store）を内部結合し、レシート明細データの全項目と店舗データの店舗名（store_name）を 10 件表示せよ。

In [2]:
df_receipt.join(
    df_store.select(pl.col("store_cd"), pl.col("store_name")),
    on="store_cd",
    how="inner",
).head(10)

shape: (10, 10)
┌───────────┬────────────┬──────────┬────────────┬───┬────────────┬──────────┬────────┬────────────┐
│ sales_ymd ┆ sales_epoc ┆ store_cd ┆ receipt_no ┆ … ┆ product_cd ┆ quantity ┆ amount ┆ store_name │
│ ---       ┆ h          ┆ ---      ┆ ---        ┆   ┆ ---        ┆ ---      ┆ ---    ┆ ---        │
│ i64       ┆ ---        ┆ str      ┆ i64        ┆   ┆ str        ┆ i64      ┆ i64    ┆ str        │
│           ┆ i64        ┆          ┆            ┆   ┆            ┆          ┆        ┆            │
╞═══════════╪════════════╪══════════╪════════════╪═══╪════════════╪══════════╪════════╪════════════╡
│ 20181103  ┆ 1541203200 ┆ S14006   ┆ 112        ┆ … ┆ P070305012 ┆ 1        ┆ 158    ┆ 葛が谷店   │
│ 20181118  ┆ 1542499200 ┆ S13008   ┆ 1132       ┆ … ┆ P070701017 ┆ 1        ┆ 81     ┆ 成城店     │
│ 20170712  ┆ 1499817600 ┆ S14028   ┆ 1102       ┆ … ┆ P060101005 ┆ 1        ┆ 170    ┆ 二ツ橋店   │
│ 20190205  ┆ 1549324800 ┆ S14042   ┆ 1132       ┆ … ┆ P050301001 ┆ 1        ┆ 25     ┆ 新山下店   │
│ 20180821  ┆ 1534809600 ┆ S14025   ┆ 1102       ┆ … ┆ P060102007 ┆ 1        ┆ 90     ┆ 大和店     │
│ 20190605  ┆ 1559692800 ┆ S13003   ┆ 1112       ┆ … ┆ P050102002 ┆ 1        ┆ 138    ┆ 狛江店     │
│ 20181205  ┆ 1543968000 ┆ S14024   ┆ 1102       ┆ … ┆ P080101005 ┆ 1        ┆ 30     ┆ 三田店     │
│ 20190922  ┆ 1569110400 ┆ S14040   ┆ 1102       ┆ … ┆ P070501004 ┆ 1        ┆ 128    ┆ 長津田店   │
│ 20170504  ┆ 1493856000 ┆ S13020   ┆ 1112       ┆ … ┆ P071302010 ┆ 1        ┆ 770    ┆ 十条仲原店 │
│ 20191010  ┆ 1570665600 ┆ S14027   ┆ 1102       ┆ … ┆ P071101003 ┆ 1        ┆ 680    ┆ 南藤沢店   │
└───────────┴────────────┴──────────┴────────────┴───┴────────────┴──────────┴────────┴────────────┘

---

> P-037: 商品データ（df_product）とカテゴリデータ（df_category）を内部結合し、商品データの全項目とカテゴリデータのカテゴリ小区分名（category_small_name）を 10 件表示せよ。

In [8]:
df_product.join(
    df_category.select(pl.col("category_small_cd"), pl.col("category_major_name")),
    on="category_small_cd",
    how="inner",
).head(10)

shape: (10, 7)
┌────────────┬───────────────┬──────────────┬──────────────┬────────────┬───────────┬──────────────┐
│ ﻿product_cd ┆ category_majo ┆ category_med ┆ category_sma ┆ unit_price ┆ unit_cost ┆ category_maj │
│ ---        ┆ r_cd          ┆ ium_cd       ┆ ll_cd        ┆ ---        ┆ ---       ┆ or_name      │
│ str        ┆ ---           ┆ ---          ┆ ---          ┆ i64        ┆ i64       ┆ ---          │
│            ┆ i64           ┆ i64          ┆ i64          ┆            ┆           ┆ str          │
╞════════════╪═══════════════╪══════════════╪══════════════╪════════════╪═══════════╪══════════════╡
│ P040101001 ┆ 4             ┆ 401          ┆ 40101        ┆ 198        ┆ 149       ┆ 惣菜         │
│ P040101002 ┆ 4             ┆ 401          ┆ 40101        ┆ 218        ┆ 164       ┆ 惣菜         │
│ P040101003 ┆ 4             ┆ 401          ┆ 40101        ┆ 230        ┆ 173       ┆ 惣菜         │
│ P040101004 ┆ 4             ┆ 401          ┆ 40101        ┆ 248        ┆ 186       ┆ 惣菜         │
│ P040101005 ┆ 4             ┆ 401          ┆ 40101        ┆ 268        ┆ 201       ┆ 惣菜         │
│ P040101006 ┆ 4             ┆ 401          ┆ 40101        ┆ 298        ┆ 224       ┆ 惣菜         │
│ P040101007 ┆ 4             ┆ 401          ┆ 40101        ┆ 338        ┆ 254       ┆ 惣菜         │
│ P040101008 ┆ 4             ┆ 401          ┆ 40101        ┆ 420        ┆ 315       ┆ 惣菜         │
│ P040101009 ┆ 4             ┆ 401          ┆ 40101        ┆ 498        ┆ 374       ┆ 惣菜         │
│ P040101010 ┆ 4             ┆ 401          ┆ 40101        ┆ 580        ┆ 435       ┆ 惣菜         │
└────────────┴───────────────┴──────────────┴──────────────┴────────────┴───────────┴──────────────┘

---

> P-038: 顧客データ（df_customer）とレシート明細データ（df_receipt）から、顧客ごとの売上金額合計を求め、10 件表示せよ。ただし、売上実績がない顧客については売上金額を 0 として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客 ID が"Z"から始まるもの）は除外すること。

---

> P-039: レシート明細データ（df_receipt）から、売上日数の多い顧客の上位 20 件を抽出したデータと、売上金額合計の多い顧客の上位 20 件を抽出したデータをそれぞれ作成し、さらにその 2 つを完全外部結合せよ。ただし、非会員（顧客 ID が"Z"から始まるもの）は除外すること。

---

> P-040: 全ての店舗と全ての商品を組み合わせたデータを作成したい。店舗データ（df_store）と商品データ（df_product）を直積し、件数を計算せよ。

In [35]:
df_store.select("store_cd").with_columns(pl.lit(1).alias("one")).join(
    df_product.select("category_major_cd").with_columns(pl.lit(1).alias("one")),
    on="one",
    how="full",
).shape[0]

531590

---

> P-041: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前回売上があった日からの売上金額増減を計算せよ。そして結果を 10 件表示せよ。

In [46]:
df_receipt.select(pl.col("sales_ymd"), pl.col("amount")).group_by(
    pl.col("sales_ymd")
).sum().sort("sales_ymd").with_columns(
    pl.col("sales_ymd").shift(1).alias("prev_sales_ymd"),
    pl.col("amount").shift(1).alias("prev_amount"),
).with_columns((pl.col("amount") - pl.col("prev_amount")).alias("diff_amount")).head(10)

shape: (10, 5)
┌───────────┬────────┬────────────────┬─────────────┬─────────────┐
│ sales_ymd ┆ amount ┆ prev_sales_ymd ┆ prev_amount ┆ diff_amount │
│ ---       ┆ ---    ┆ ---            ┆ ---         ┆ ---         │
│ i64       ┆ i64    ┆ i64            ┆ i64         ┆ i64         │
╞═══════════╪════════╪════════════════╪═════════════╪═════════════╡
│ 20170101  ┆ 33723  ┆ null           ┆ null        ┆ null        │
│ 20170102  ┆ 24165  ┆ 20170101       ┆ 33723       ┆ -9558       │
│ 20170103  ┆ 27503  ┆ 20170102       ┆ 24165       ┆ 3338        │
│ 20170104  ┆ 36165  ┆ 20170103       ┆ 27503       ┆ 8662        │
│ 20170105  ┆ 37830  ┆ 20170104       ┆ 36165       ┆ 1665        │
│ 20170106  ┆ 32387  ┆ 20170105       ┆ 37830       ┆ -5443       │
│ 20170107  ┆ 23415  ┆ 20170106       ┆ 32387       ┆ -8972       │
│ 20170108  ┆ 24737  ┆ 20170107       ┆ 23415       ┆ 1322        │
│ 20170109  ┆ 26718  ┆ 20170108       ┆ 24737       ┆ 1981        │
│ 20170110  ┆ 20143  ┆ 20170109       ┆ 26718       ┆ -6575       │
└───────────┴────────┴────────────────┴─────────────┴─────────────┘

---

> P-042: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、前回、前々回、3 回前に売上があった日のデータを結合せよ。そして結果を 10 件表示せよ。

In [21]:
df_receipt.select(pl.col("sales_ymd"), pl.col("amount")).group_by(
    pl.col("sales_ymd")
).sum().sort("sales_ymd").with_columns(
    pl.col("sales_ymd").shift(1).alias("prev_sales_ymd"),
    pl.col("amount").shift(1).alias("prev_amount"),
    pl.col("sales_ymd").shift(2).alias("prev_sales_ymd2"),
    pl.col("amount").shift(2).alias("prev_amount2"),
    pl.col("sales_ymd").shift(3).alias("prev_sales_ymd3"),
    pl.col("amount").shift(3).alias("prev_amount3"),
)

shape: (1_034, 8)
┌───────────┬────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┐
│ sales_ymd ┆ amount ┆ prev_sales ┆ prev_amoun ┆ prev_sales ┆ prev_amoun ┆ prev_sales ┆ prev_amoun │
│ ---       ┆ ---    ┆ _ymd       ┆ t          ┆ _ymd2      ┆ t2         ┆ _ymd3      ┆ t3         │
│ i64       ┆ i64    ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│           ┆        ┆ i64        ┆ i64        ┆ i64        ┆ i64        ┆ i64        ┆ i64        │
╞═══════════╪════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╡
│ 20170101  ┆ 33723  ┆ null       ┆ null       ┆ null       ┆ null       ┆ null       ┆ null       │
│ 20170102  ┆ 24165  ┆ 20170101   ┆ 33723      ┆ null       ┆ null       ┆ null       ┆ null       │
│ 20170103  ┆ 27503  ┆ 20170102   ┆ 24165      ┆ 20170101   ┆ 33723      ┆ null       ┆ null       │
│ 20170104  ┆ 36165  ┆ 20170103   ┆ 27503      ┆ 20170102   ┆ 24165      ┆ 20170101   ┆ 33723      │
│ 20170105  ┆ 37830  ┆ 20170104   ┆ 36165      ┆ 20170103   ┆ 27503      ┆ 20170102   ┆ 24165      │
│ …         ┆ …      ┆ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …          │
│ 20191027  ┆ 37484  ┆ 20191026   ┆ 51771      ┆ 20191025   ┆ 28833      ┆ 20191024   ┆ 31868      │
│ 20191028  ┆ 40161  ┆ 20191027   ┆ 37484      ┆ 20191026   ┆ 51771      ┆ 20191025   ┆ 28833      │
│ 20191029  ┆ 36091  ┆ 20191028   ┆ 40161      ┆ 20191027   ┆ 37484      ┆ 20191026   ┆ 51771      │
│ 20191030  ┆ 26602  ┆ 20191029   ┆ 36091      ┆ 20191028   ┆ 40161      ┆ 20191027   ┆ 37484      │
│ 20191031  ┆ 25216  ┆ 20191030   ┆ 26602      ┆ 20191029   ┆ 36091      ┆ 20191028   ┆ 40161      │
└───────────┴────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┘

---

> P-043： レシート明細データ（df_receipt）と顧客データ（df_customer）を結合し、性別コード（gender_cd）と年代（age から計算）ごとに売上金額（amount）を合計した売上サマリデータを作成せよ。性別コードは 0 が男性、1 が女性、9 が不明を表すものとする。
>
> ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の 4 項目とすること（縦に年代、横に性別のクロス集計）。また、年代は 10 歳ごとの階級とすること。

In [ ]:
df_sales_summary = (
    df_receipt.join(df_customer, on="customer_id", how="inner")
    .select(
        pl.col("gender_cd"),
        (pl.col("age") // 10 * 10).alias("age"),
        pl.col("amount"),
    )
    .group_by(pl.col("gender_cd"), pl.col("age"))
    .agg(
        pl.col("amount").sum().alias("amount_mean"),
    )
    .sort(by="age")
    .pivot(on="gender_cd", index="age", values="amount_mean")
    .rename({"0": "Male", "1": "Female", "9": "Unknown"})
)
df_sales_summary

shape: (9, 4)
┌─────┬────────┬─────────┬─────────┐
│ age ┆ Male   ┆ Unknown ┆ Female  │
│ --- ┆ ---    ┆ ---     ┆ ---     │
│ i64 ┆ i64    ┆ i64     ┆ i64     │
╞═════╪════════╪═════════╪═════════╡
│ 10  ┆ 1591   ┆ 4317    ┆ 149836  │
│ 20  ┆ 72940  ┆ 44328   ┆ 1363724 │
│ 30  ┆ 177322 ┆ 50441   ┆ 693047  │
│ 40  ┆ 19355  ┆ 483512  ┆ 9320791 │
│ 50  ┆ 54320  ┆ 342923  ┆ 6685192 │
│ 60  ┆ 272469 ┆ 71418   ┆ 987741  │
│ 70  ┆ 13435  ┆ 2427    ┆ 29764   │
│ 80  ┆ 46360  ┆ 5111    ┆ 262923  │
│ 90  ┆ null   ┆ null    ┆ 6260    │
└─────┴────────┴─────────┴─────────┘

---

> P-044： 043 で作成した売上サマリデータ（df_sales_summary）は性別の売上を横持ちさせたものであった。このデータから性別を縦持ちさせ、年代、性別コード、売上金額の 3 項目に変換せよ。ただし、性別コードは男性を"00"、女性を"01"、不明を"99"とする。

In [ ]:
df_sales_summary.rename({"Male": "00", "Female": "01", "Unknown": "99"}).unpivot(
    index=["age"], value_name="amount"
).sort(by="age")

shape: (27, 3)
┌─────┬──────────┬────────┐
│ age ┆ variable ┆ amount │
│ --- ┆ ---      ┆ ---    │
│ i64 ┆ str      ┆ i64    │
╞═════╪══════════╪════════╡
│ 10  ┆ 00       ┆ 1591   │
│ 10  ┆ 99       ┆ 4317   │
│ 10  ┆ 01       ┆ 149836 │
│ 20  ┆ 00       ┆ 72940  │
│ 20  ┆ 99       ┆ 44328  │
│ …   ┆ …        ┆ …      │
│ 80  ┆ 99       ┆ 5111   │
│ 80  ┆ 01       ┆ 262923 │
│ 90  ┆ 00       ┆ null   │
│ 90  ┆ 99       ┆ null   │
│ 90  ┆ 01       ┆ 6260   │
└─────┴──────────┴────────┘

---

> P-045: 顧客データ（df_customer）の生年月日（birth_day）は日付型でデータを保有している。これを YYYYMMDD 形式の文字列に変換し、顧客 ID（customer_id）とともに 10 件表示せよ。

In [ ]:
df_customer = df_customer.with_columns(
    pl.col("birth_day").cast(pl.Date).alias("birth_day")
)
df_customer.select(
    pl.col("customer_id"),
    pl.col("birth_day").dt.strftime("%Y%m%d").alias("birth_day"),
).head(10)

shape: (10, 2)
┌───────────┬────────────────┐
│ birth_day ┆ customer_id    │
│ ---       ┆ ---            │
│ str       ┆ str            │
╞═══════════╪════════════════╡
│ 19810429  ┆ CS021313000114 │
│ 19520401  ┆ CS037613000071 │
│ 19761004  ┆ CS031415000172 │
│ 19330327  ┆ CS028811000001 │
│ 19950329  ┆ CS001215000145 │
│ 19740915  ┆ CS020401000016 │
│ 19770809  ┆ CS015414000103 │
│ 19730817  ┆ CS029403000008 │
│ 19310502  ┆ CS015804000004 │
│ 19620711  ┆ CS033513000180 │
└───────────┴────────────────┘

---

> P-046: 顧客データ（df_customer）の申し込み日（application_date）は YYYYMMDD 形式の文字列型でデータを保有している。これを日付型に変換し、顧客 ID（customer_id）とともに 10 件表示せよ。

In [85]:
df_customer.select(
    pl.col("customer_id"),
    pl.col("birth_day").cast(pl.Date).alias("birth_day"),
)

shape: (21_971, 2)
┌────────────────┬────────────┐
│ customer_id    ┆ birth_day  │
│ ---            ┆ ---        │
│ str            ┆ date       │
╞════════════════╪════════════╡
│ CS021313000114 ┆ 1981-04-29 │
│ CS037613000071 ┆ 1952-04-01 │
│ CS031415000172 ┆ 1976-10-04 │
│ CS028811000001 ┆ 1933-03-27 │
│ CS001215000145 ┆ 1995-03-29 │
│ …              ┆ …          │
│ CS002512000474 ┆ 1959-10-12 │
│ CS029414000065 ┆ 1970-10-19 │
│ CS012403000043 ┆ 1972-12-16 │
│ CS033512000184 ┆ 1964-06-05 │
│ CS009213000022 ┆ 1996-08-16 │
└────────────────┴────────────┘

---

> P-047: レシート明細データ（df_receipt）の売上日（sales_ymd）は YYYYMMDD 形式の数値型でデータを保有している。これを日付型に変換し、レシート番号（receipt_no）、レシートサブ番号（receipt_sub_no）とともに 10 件表示せよ。

In [90]:
df_receipt.select(
    pl.col("sales_ymd").cast(pl.String).str.to_date("%Y%m%d").alias("sales_date"),
    pl.col("receipt_no"),
    pl.col("receipt_sub_no"),
)

shape: (104_681, 3)
┌────────────┬────────────┬────────────────┐
│ sales_date ┆ receipt_no ┆ receipt_sub_no │
│ ---        ┆ ---        ┆ ---            │
│ date       ┆ i64        ┆ i64            │
╞════════════╪════════════╪════════════════╡
│ 2018-11-03 ┆ 112        ┆ 1              │
│ 2018-11-18 ┆ 1132       ┆ 2              │
│ 2017-07-12 ┆ 1102       ┆ 1              │
│ 2019-02-05 ┆ 1132       ┆ 1              │
│ 2018-08-21 ┆ 1102       ┆ 2              │
│ …          ┆ …          ┆ …              │
│ 2018-02-21 ┆ 1132       ┆ 2              │
│ 2019-09-11 ┆ 1132       ┆ 2              │
│ 2017-03-11 ┆ 1122       ┆ 1              │
│ 2017-03-31 ┆ 1142       ┆ 1              │
│ 2019-04-23 ┆ 1102       ┆ 2              │
└────────────┴────────────┴────────────────┘

---

> P-048: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）は数値型の UNIX 秒でデータを保有している。これを日付型に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに 10 件表示せよ。

In [101]:
df_receipt.select(
    pl.from_epoch(pl.col("sales_epoch")).cast(pl.Date).alias("sales_date"),
    pl.col("receipt_no"),
    pl.col("receipt_sub_no"),
).head(10)

shape: (10, 3)
┌────────────┬────────────┬────────────────┐
│ sales_date ┆ receipt_no ┆ receipt_sub_no │
│ ---        ┆ ---        ┆ ---            │
│ date       ┆ i64        ┆ i64            │
╞════════════╪════════════╪════════════════╡
│ 2018-11-03 ┆ 112        ┆ 1              │
│ 2018-11-18 ┆ 1132       ┆ 2              │
│ 2017-07-12 ┆ 1102       ┆ 1              │
│ 2019-02-05 ┆ 1132       ┆ 1              │
│ 2018-08-21 ┆ 1102       ┆ 2              │
│ 2019-06-05 ┆ 1112       ┆ 1              │
│ 2018-12-05 ┆ 1102       ┆ 2              │
│ 2019-09-22 ┆ 1102       ┆ 1              │
│ 2017-05-04 ┆ 1112       ┆ 2              │
│ 2019-10-10 ┆ 1102       ┆ 1              │
└────────────┴────────────┴────────────────┘

---

> P-049: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「年」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに 10 件表示せよ。

In [102]:
df_receipt.select(
    pl.from_epoch(pl.col("sales_epoch")).cast(pl.Date).alias("sales_date").dt.year(),
    pl.col("receipt_no"),
    pl.col("receipt_sub_no"),
).head(10)

shape: (10, 3)
┌────────────┬────────────┬────────────────┐
│ sales_date ┆ receipt_no ┆ receipt_sub_no │
│ ---        ┆ ---        ┆ ---            │
│ i32        ┆ i64        ┆ i64            │
╞════════════╪════════════╪════════════════╡
│ 2018       ┆ 112        ┆ 1              │
│ 2018       ┆ 1132       ┆ 2              │
│ 2017       ┆ 1102       ┆ 1              │
│ 2019       ┆ 1132       ┆ 1              │
│ 2018       ┆ 1102       ┆ 2              │
│ 2019       ┆ 1112       ┆ 1              │
│ 2018       ┆ 1102       ┆ 2              │
│ 2019       ┆ 1102       ┆ 1              │
│ 2017       ┆ 1112       ┆ 2              │
│ 2019       ┆ 1102       ┆ 1              │
└────────────┴────────────┴────────────────┘

---

> P-050: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「月」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに 10 件表示せよ。なお、「月」は 0 埋め 2 桁で取り出すこと。

In [ ]:
df_receipt.select(
    pl.from_epoch(pl.col("sales_epoch"))
    .cast(pl.Date)
    .alias("sales_date")
    .dt.month()
    .cast(pl.String)
    .str.zfill(2),
    pl.col("receipt_no"),
    pl.col("receipt_sub_no"),
).head(10)

shape: (10, 3)
┌────────────┬────────────┬────────────────┐
│ sales_date ┆ receipt_no ┆ receipt_sub_no │
│ ---        ┆ ---        ┆ ---            │
│ str        ┆ i64        ┆ i64            │
╞════════════╪════════════╪════════════════╡
│ 11         ┆ 112        ┆ 1              │
│ 11         ┆ 1132       ┆ 2              │
│ 07         ┆ 1102       ┆ 1              │
│ 02         ┆ 1132       ┆ 1              │
│ 08         ┆ 1102       ┆ 2              │
│ 06         ┆ 1112       ┆ 1              │
│ 12         ┆ 1102       ┆ 2              │
│ 09         ┆ 1102       ┆ 1              │
│ 05         ┆ 1112       ┆ 2              │
│ 10         ┆ 1102       ┆ 1              │
└────────────┴────────────┴────────────────┘

---

> P-051: レシート明細データ（df_receipt）の売上エポック秒を日付型に変換し、「日」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに 10 件表示せよ。なお、「日」は 0 埋め 2 桁で取り出すこと。

In [115]:
df_receipt.select(
    pl.from_epoch(pl.col("sales_epoch"))
    .cast(pl.Date)
    .alias("sales_date")
    .dt.day()
    .cast(pl.String)
    .str.zfill(2),
    pl.col("receipt_no"),
    pl.col("receipt_sub_no"),
).head(10)

shape: (10, 3)
┌────────────┬────────────┬────────────────┐
│ sales_date ┆ receipt_no ┆ receipt_sub_no │
│ ---        ┆ ---        ┆ ---            │
│ str        ┆ i64        ┆ i64            │
╞════════════╪════════════╪════════════════╡
│ 03         ┆ 112        ┆ 1              │
│ 18         ┆ 1132       ┆ 2              │
│ 12         ┆ 1102       ┆ 1              │
│ 05         ┆ 1132       ┆ 1              │
│ 21         ┆ 1102       ┆ 2              │
│ 05         ┆ 1112       ┆ 1              │
│ 05         ┆ 1102       ┆ 2              │
│ 22         ┆ 1102       ┆ 1              │
│ 04         ┆ 1112       ┆ 2              │
│ 10         ┆ 1102       ┆ 1              │
└────────────┴────────────┴────────────────┘

---

> P-052: レシート明細データ（df_receipt）の売上金額（amount）を顧客 ID（customer_id）ごとに合計の上、売上金額合計に対して 2,000 円以下を 0、2,000 円より大きい金額を 1 に二値化し、顧客 ID、売上金額合計とともに 10 件表示せよ。ただし、顧客 ID が"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [124]:
df_receipt.group_by(pl.col("customer_id")).sum().select(
    pl.col("customer_id"),
    pl.col("amount").alias("sum_amount"),
    pl.when(pl.col("amount") >= 2000).then(1).otherwise(0).alias("is_high_amount"),
).head(10)

shape: (10, 3)
┌────────────────┬────────────┬────────────────┐
│ customer_id    ┆ sum_amount ┆ is_high_amount │
│ ---            ┆ ---        ┆ ---            │
│ str            ┆ i64        ┆ i32            │
╞════════════════╪════════════╪════════════════╡
│ CS018414000039 ┆ 5955       ┆ 1              │
│ CS024514000005 ┆ 979        ┆ 0              │
│ CS031515000204 ┆ 3128       ┆ 1              │
│ CS011115000005 ┆ 585        ┆ 0              │
│ CS033512000066 ┆ 446        ┆ 0              │
│ CS019513000064 ┆ 2365       ┆ 1              │
│ CS019215000046 ┆ 8140       ┆ 1              │
│ CS005415000086 ┆ 3859       ┆ 1              │
│ CS024415000186 ┆ 5352       ┆ 1              │
│ CS002413000104 ┆ 566        ┆ 0              │
└────────────────┴────────────┴────────────────┘

---

> P-053: 顧客データ（df_customer）の郵便番号（postal_cd）に対し、東京（先頭 3 桁が 100〜209 のもの）を 1、それ以外のものを 0 に二値化せよ。さらにレシート明細データ（df_receipt）と結合し、全期間において売上実績のある顧客数を、作成した二値ごとにカウントせよ。

In [ ]:
df_customer.select(
    pl.col("customer_id"),
    pl.col("postal_cd").str.slice(0, 3),
    pl.when(
        (pl.col("postal_cd").str.slice(0, 3) >= "100")
        & (pl.col("postal_cd").str.slice(0, 3) <= "209")
    )
    .then(1)
    .otherwise(0)
    .alias("is_tokyo"),
).join(
    df_receipt.select(pl.col("customer_id")),
    on="customer_id",
    how="inner",
).group_by(
    pl.col("is_tokyo"),
).agg(
    pl.col("customer_id").n_unique().alias("n_customers"),
).sort(by="is_tokyo")

shape: (2, 2)
┌──────────┬─────────────┐
│ is_tokyo ┆ n_customers │
│ ---      ┆ ---         │
│ i32      ┆ u32         │
╞══════════╪═════════════╡
│ 0        ┆ 3906        │
│ 1        ┆ 4400        │
└──────────┴─────────────┘

---

> P-054: 顧客データ（df_customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客 ID、住所とともに 10 件表示せよ。値は埼玉県を 11、千葉県を 12、東京都を 13、神奈川県を 14 とすること。

In [ ]:
df_customer.select(
    pl.col("customer_id"),
    pl.col("address"),
    pl.col("address")
    .str.slice(0, 3)
    .replace(
        {
            "埼玉県": 11,
            "千葉県": 12,
            "東京都": 13,
            "神奈川": 14,
        }
    )
    .alias("pref_cd"),
)

shape: (21_971, 3)
┌────────────────┬─────────────────────────────────┬─────────┐
│ customer_id    ┆ address                         ┆ pref_cd │
│ ---            ┆ ---                             ┆ ---     │
│ str            ┆ str                             ┆ str     │
╞════════════════╪═════════════════════════════════╪═════════╡
│ CS021313000114 ┆ 神奈川県伊勢原市粟窪**********  ┆ 14      │
│ CS037613000071 ┆ 東京都江東区南砂**********      ┆ 13      │
│ CS031415000172 ┆ 東京都渋谷区代々木**********    ┆ 13      │
│ CS028811000001 ┆ 神奈川県横浜市泉区和泉町******* ┆ 14      │
│                ┆ ***                             ┆         │
│ CS001215000145 ┆ 東京都大田区仲六郷**********    ┆ 13      │
│ …              ┆ …                               ┆ …       │
│ CS002512000474 ┆ 東京都国分寺市光町**********    ┆ 13      │
│ CS029414000065 ┆ 千葉県浦安市富士見**********    ┆ 12      │
│ CS012403000043 ┆ 神奈川県横浜市中区本牧間門***** ┆ 14      │
│                ┆ *****                           ┆         │
│ CS033512000184 ┆ 神奈川県横浜市泉区和泉町******* ┆ 14      │
│                ┆ ***                             ┆         │
│ CS009213000022 ┆ 東京都世田谷区駒沢**********    ┆ 13      │
└────────────────┴─────────────────────────────────┴─────────┘

---

> P-055: レシート明細（df_receipt）データの売上金額（amount）を顧客 ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客 ID、売上金額合計とともに 10 件表示せよ。カテゴリ値は順に 1〜4 とする。
>
> - 最小値以上第 1 四分位未満 ・・・ 1 を付与
> - 第 1 四分位以上第 2 四分位未満 ・・・ 2 を付与
> - 第 2 四分位以上第 3 四分位未満 ・・・ 3 を付与
> - 第 3 四分位以上 ・・・ 4 を付与

In [94]:
df_receipt.select(
    pl.col("customer_id"),
    pl.col("amount"),
).group_by(pl.col("customer_id")).agg(
    pl.col("amount").sum().alias("sum_amount"),
).with_columns(
    pl.when(pl.col("sum_amount") < pl.col("sum_amount").quantile(0.25))
    .then(1)
    .when(pl.col("sum_amount") < pl.col("sum_amount").quantile(0.5))
    .then(2)
    .when(pl.col("sum_amount") < pl.col("sum_amount").quantile(0.75))
    .then(3)
    .otherwise(4)
    .alias("amount_quantile")
)

shape: (8_307, 3)
┌────────────────┬────────────┬─────────────────┐
│ customer_id    ┆ sum_amount ┆ amount_quantile │
│ ---            ┆ ---        ┆ ---             │
│ str            ┆ i64        ┆ i32             │
╞════════════════╪════════════╪═════════════════╡
│ CS004515000002 ┆ 258        ┆ 1               │
│ CS039214000007 ┆ 6132       ┆ 4               │
│ CS019305000009 ┆ 969        ┆ 2               │
│ CS007512000113 ┆ 956        ┆ 2               │
│ CS041414000001 ┆ 8007       ┆ 4               │
│ …              ┆ …          ┆ …               │
│ CS018615000088 ┆ 2365       ┆ 3               │
│ CS013615000030 ┆ 573        ┆ 2               │
│ CS037614000008 ┆ 2317       ┆ 3               │
│ CS023415000202 ┆ 3236       ┆ 3               │
│ CS003411000053 ┆ 936        ┆ 2               │
└────────────────┴────────────┴─────────────────┘

---

> P-056: 顧客データ（df_customer）の年齢（age）をもとに 10 歳刻みで年代を算出し、顧客 ID（customer_id）、生年月日（birth_day）とともに 10 件表示せよ。ただし、60 歳以上は全て 60 歳代とすること。年代を表すカテゴリ名は任意とする。

In [102]:
df_customer.select(
    pl.col("customer_id"),
    pl.col("birth_day"),
    pl.col("age"),
).with_columns(
    pl.when(pl.col("age") >= 60)
    .then(60)
    .otherwise(pl.col("age") // 10 * 10)
    .alias("age")
).head(10)

shape: (10, 3)
┌────────────────┬────────────┬─────┐
│ customer_id    ┆ birth_day  ┆ age │
│ ---            ┆ ---        ┆ --- │
│ str            ┆ str        ┆ i64 │
╞════════════════╪════════════╪═════╡
│ CS021313000114 ┆ 1981-04-29 ┆ 30  │
│ CS037613000071 ┆ 1952-04-01 ┆ 60  │
│ CS031415000172 ┆ 1976-10-04 ┆ 40  │
│ CS028811000001 ┆ 1933-03-27 ┆ 60  │
│ CS001215000145 ┆ 1995-03-29 ┆ 20  │
│ CS020401000016 ┆ 1974-09-15 ┆ 40  │
│ CS015414000103 ┆ 1977-08-09 ┆ 40  │
│ CS029403000008 ┆ 1973-08-17 ┆ 40  │
│ CS015804000004 ┆ 1931-05-02 ┆ 60  │
│ CS033513000180 ┆ 1962-07-11 ┆ 50  │
└────────────────┴────────────┴─────┘

---

> P-057: 056 の抽出結果と性別コード（gender_cd）により、新たに性別 × 年代の組み合わせを表すカテゴリデータを作成し、10 件表示せよ。組み合わせを表すカテゴリの値は任意とする。

In [ ]:
df_customer.select(
    pl.col("customer_id"),
    pl.col("birth_day"),
    pl.col("gender"),
    pl.col("age"),
).with_columns(
    pl.when(pl.col("age") >= 60)
    .then(60)
    .otherwise(pl.col("age") // 10 * 10)
    .alias("age_group")
).with_columns(
    pl.concat_str(
        pl.col("gender"), pl.col("age_group").cast(pl.String).str.zfill(2)
    ).alias("gender_age_group")
)

shape: (21_971, 6)
┌────────────────┬────────────┬────────┬─────┬───────────┬──────────────────┐
│ customer_id    ┆ birth_day  ┆ gender ┆ age ┆ age_group ┆ gender_age_group │
│ ---            ┆ ---        ┆ ---    ┆ --- ┆ ---       ┆ ---              │
│ str            ┆ str        ┆ str    ┆ i64 ┆ i64       ┆ str              │
╞════════════════╪════════════╪════════╪═════╪═══════════╪══════════════════╡
│ CS021313000114 ┆ 1981-04-29 ┆ 女性   ┆ 37  ┆ 30        ┆ 女性30           │
│ CS037613000071 ┆ 1952-04-01 ┆ 不明   ┆ 66  ┆ 60        ┆ 不明60           │
│ CS031415000172 ┆ 1976-10-04 ┆ 女性   ┆ 42  ┆ 40        ┆ 女性40           │
│ CS028811000001 ┆ 1933-03-27 ┆ 女性   ┆ 86  ┆ 60        ┆ 女性60           │
│ CS001215000145 ┆ 1995-03-29 ┆ 女性   ┆ 24  ┆ 20        ┆ 女性20           │
│ …              ┆ …          ┆ …      ┆ …   ┆ …         ┆ …                │
│ CS002512000474 ┆ 1959-10-12 ┆ 女性   ┆ 59  ┆ 50        ┆ 女性50           │
│ CS029414000065 ┆ 1970-10-19 ┆ 女性   ┆ 48  ┆ 40        ┆ 女性40           │
│ CS012403000043 ┆ 1972-12-16 ┆ 男性   ┆ 46  ┆ 40        ┆ 男性40           │
│ CS033512000184 ┆ 1964-06-05 ┆ 女性   ┆ 54  ┆ 50        ┆ 女性50           │
│ CS009213000022 ┆ 1996-08-16 ┆ 女性   ┆ 22  ┆ 20        ┆ 女性20           │
└────────────────┴────────────┴────────┴─────┴───────────┴──────────────────┘

---

> P-058: 顧客データ（df_customer）の性別コード（gender_cd）をダミー変数化し、顧客 ID（customer_id）とともに 10 件表示せよ。

In [117]:
df_customer.select(
    pl.col("customer_id"),
    pl.col("gender_cd"),
).to_dummies(["gender_cd"]).head(10)

shape: (10, 4)
┌────────────────┬─────────────┬─────────────┬─────────────┐
│ customer_id    ┆ gender_cd_0 ┆ gender_cd_1 ┆ gender_cd_9 │
│ ---            ┆ ---         ┆ ---         ┆ ---         │
│ str            ┆ u8          ┆ u8          ┆ u8          │
╞════════════════╪═════════════╪═════════════╪═════════════╡
│ CS021313000114 ┆ 0           ┆ 1           ┆ 0           │
│ CS037613000071 ┆ 0           ┆ 0           ┆ 1           │
│ CS031415000172 ┆ 0           ┆ 1           ┆ 0           │
│ CS028811000001 ┆ 0           ┆ 1           ┆ 0           │
│ CS001215000145 ┆ 0           ┆ 1           ┆ 0           │
│ CS020401000016 ┆ 1           ┆ 0           ┆ 0           │
│ CS015414000103 ┆ 0           ┆ 1           ┆ 0           │
│ CS029403000008 ┆ 1           ┆ 0           ┆ 0           │
│ CS015804000004 ┆ 1           ┆ 0           ┆ 0           │
│ CS033513000180 ┆ 0           ┆ 1           ┆ 0           │
└────────────────┴─────────────┴─────────────┴─────────────┘

---

> P-059: レシート明細データ（df_receipt）の売上金額（amount）を顧客 ID（customer_id）ごとに合計し、売上金額合計を平均 0、標準偏差 1 に標準化して顧客 ID、売上金額合計とともに 10 件表示せよ。標準化に使用する標準偏差は、分散の平方根、もしくは不偏分散の平方根のどちらでも良いものとする。ただし、顧客 ID が"Z"から始まるのものは非会員を表すため、除外して計算すること。

TIPS:

- query()の引数 engine で'python'か'numexpr'かを選択でき、デフォルトはインストールされていれば numexpr が、無ければ python が使われます。さらに、文字列メソッドは engine='python'でないと query()内で使えません。

In [2]:
df_receipt.filter(pl.col("customer_id").str.starts_with("Z").not_()).group_by(
    pl.col("customer_id")
).agg(
    pl.col("amount").sum().alias("sum_amount"),
).with_columns(
    (
        (pl.col("sum_amount") - pl.col("sum_amount").mean())
        / pl.col("sum_amount").std(ddof=0)
    ).alias("z_score")
).sort(pl.col("customer_id"))

shape: (8_306, 3)
┌────────────────┬────────────┬───────────┐
│ customer_id    ┆ sum_amount ┆ z_score   │
│ ---            ┆ ---        ┆ ---       │
│ str            ┆ i64        ┆ f64       │
╞════════════════╪════════════╪═══════════╡
│ CS001113000004 ┆ 1298       ┆ -0.459378 │
│ CS001114000005 ┆ 626        ┆ -0.70639  │
│ CS001115000010 ┆ 3044       ┆ 0.182413  │
│ CS001205000004 ┆ 1988       ┆ -0.205749 │
│ CS001205000006 ┆ 3337       ┆ 0.290114  │
│ …              ┆ …          ┆ …         │
│ CS051212000001 ┆ 336        ┆ -0.812988 │
│ CS051513000004 ┆ 551        ┆ -0.733959 │
│ CS051515000002 ┆ 265        ┆ -0.839086 │
│ CS052212000002 ┆ 192        ┆ -0.865919 │
│ CS052514000001 ┆ 178        ┆ -0.871065 │
└────────────────┴────────────┴───────────┘

---

> P-060: レシート明細データ（df_receipt）の売上金額（amount）を顧客 ID（customer_id）ごとに合計し、売上金額合計を最小値 0、最大値 1 に正規化して顧客 ID、売上金額合計とともに 10 件表示せよ。ただし、顧客 ID が"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
non_z_customer = pl.col("customer_id").str.starts_with("Z").not_()


df_receipt.filter(non_z_customer).group_by(pl.col("customer_id")).agg(
    pl.col("amount").sum().alias("sum_amount"),
).with_columns(
    (
        (pl.col("sum_amount") - pl.col("sum_amount").min())
        / (pl.col("sum_amount").max() - pl.col("sum_amount").min())
    ).alias("z_score")
).sort(pl.col("customer_id")).head(10)

shape: (10, 3)
┌────────────────┬────────────┬──────────┐
│ customer_id    ┆ sum_amount ┆ z_score  │
│ ---            ┆ ---        ┆ ---      │
│ str            ┆ i64        ┆ f64      │
╞════════════════╪════════════╪══════════╡
│ CS001113000004 ┆ 1298       ┆ 0.053354 │
│ CS001114000005 ┆ 626        ┆ 0.024157 │
│ CS001115000010 ┆ 3044       ┆ 0.129214 │
│ CS001205000004 ┆ 1988       ┆ 0.083333 │
│ CS001205000006 ┆ 3337       ┆ 0.141945 │
│ CS001211000025 ┆ 456        ┆ 0.016771 │
│ CS001212000027 ┆ 448        ┆ 0.016423 │
│ CS001212000031 ┆ 296        ┆ 0.009819 │
│ CS001212000046 ┆ 228        ┆ 0.006865 │
│ CS001212000070 ┆ 456        ┆ 0.016771 │
└────────────────┴────────────┴──────────┘

---

> P-061: レシート明細データ（df_receipt）の売上金額（amount）を顧客 ID（customer_id）ごとに合計し、売上金額合計を常用対数化（底 10）して顧客 ID、売上金額合計とともに 10 件表示せよ。ただし、顧客 ID が"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
df_receipt.filter(non_z_customer).group_by(pl.col("customer_id")).agg(
    pl.col("amount").sum().alias("sum_amount"),
).with_columns((pl.col("sum_amount").log10()).alias("z_score")).sort(
    pl.col("customer_id")
).head(10)

shape: (10, 3)
┌────────────────┬────────────┬──────────┐
│ customer_id    ┆ sum_amount ┆ z_score  │
│ ---            ┆ ---        ┆ ---      │
│ str            ┆ i64        ┆ f64      │
╞════════════════╪════════════╪══════════╡
│ CS001113000004 ┆ 1298       ┆ 3.113275 │
│ CS001114000005 ┆ 626        ┆ 2.796574 │
│ CS001115000010 ┆ 3044       ┆ 3.483445 │
│ CS001205000004 ┆ 1988       ┆ 3.298416 │
│ CS001205000006 ┆ 3337       ┆ 3.523356 │
│ CS001211000025 ┆ 456        ┆ 2.658965 │
│ CS001212000027 ┆ 448        ┆ 2.651278 │
│ CS001212000031 ┆ 296        ┆ 2.471292 │
│ CS001212000046 ┆ 228        ┆ 2.357935 │
│ CS001212000070 ┆ 456        ┆ 2.658965 │
└────────────────┴────────────┴──────────┘

---

> P-062: レシート明細データ（df_receipt）の売上金額（amount）を顧客 ID（customer_id）ごとに合計し、売上金額合計を自然対数化（底 e）して顧客 ID、売上金額合計とともに 10 件表示せよ。ただし、顧客 ID が"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [23]:
df_receipt.filter(non_z_customer).group_by(pl.col("customer_id")).agg(
    pl.col("amount").sum().alias("sum_amount"),
).with_columns((pl.col("sum_amount").log()).alias("z_score")).sort(
    pl.col("customer_id")
).head(10)

shape: (10, 3)
┌────────────────┬────────────┬──────────┐
│ customer_id    ┆ sum_amount ┆ z_score  │
│ ---            ┆ ---        ┆ ---      │
│ str            ┆ i64        ┆ f64      │
╞════════════════╪════════════╪══════════╡
│ CS001113000004 ┆ 1298       ┆ 7.16858  │
│ CS001114000005 ┆ 626        ┆ 6.43935  │
│ CS001115000010 ┆ 3044       ┆ 8.020928 │
│ CS001205000004 ┆ 1988       ┆ 7.594884 │
│ CS001205000006 ┆ 3337       ┆ 8.112827 │
│ CS001211000025 ┆ 456        ┆ 6.122493 │
│ CS001212000027 ┆ 448        ┆ 6.104793 │
│ CS001212000031 ┆ 296        ┆ 5.690359 │
│ CS001212000046 ┆ 228        ┆ 5.429346 │
│ CS001212000070 ┆ 456        ┆ 6.122493 │
└────────────────┴────────────┴──────────┘

---

> P-063: 商品データ（df_product）の単価（unit_price）と原価（unit_cost）から各商品の利益額を算出し、結果を 10 件表示せよ。

In [27]:
df_product.with_columns(
    (pl.col("unit_price") - pl.col("unit_cost")).alias("unit_profit")
).head(10)

shape: (10, 7)
┌────────────┬───────────────┬───────────────┬──────────────┬────────────┬───────────┬─────────────┐
│ ﻿product_cd ┆ category_majo ┆ category_medi ┆ category_sma ┆ unit_price ┆ unit_cost ┆ unit_profit │
│ ---        ┆ r_cd          ┆ um_cd         ┆ ll_cd        ┆ ---        ┆ ---       ┆ ---         │
│ str        ┆ ---           ┆ ---           ┆ ---          ┆ i64        ┆ i64       ┆ i64         │
│            ┆ i64           ┆ i64           ┆ i64          ┆            ┆           ┆             │
╞════════════╪═══════════════╪═══════════════╪══════════════╪════════════╪═══════════╪═════════════╡
│ P040101001 ┆ 4             ┆ 401           ┆ 40101        ┆ 198        ┆ 149       ┆ 49          │
│ P040101002 ┆ 4             ┆ 401           ┆ 40101        ┆ 218        ┆ 164       ┆ 54          │
│ P040101003 ┆ 4             ┆ 401           ┆ 40101        ┆ 230        ┆ 173       ┆ 57          │
│ P040101004 ┆ 4             ┆ 401           ┆ 40101        ┆ 248        ┆ 186       ┆ 62          │
│ P040101005 ┆ 4             ┆ 401           ┆ 40101        ┆ 268        ┆ 201       ┆ 67          │
│ P040101006 ┆ 4             ┆ 401           ┆ 40101        ┆ 298        ┆ 224       ┆ 74          │
│ P040101007 ┆ 4             ┆ 401           ┆ 40101        ┆ 338        ┆ 254       ┆ 84          │
│ P040101008 ┆ 4             ┆ 401           ┆ 40101        ┆ 420        ┆ 315       ┆ 105         │
│ P040101009 ┆ 4             ┆ 401           ┆ 40101        ┆ 498        ┆ 374       ┆ 124         │
│ P040101010 ┆ 4             ┆ 401           ┆ 40101        ┆ 580        ┆ 435       ┆ 145         │
└────────────┴───────────────┴───────────────┴──────────────┴────────────┴───────────┴─────────────┘

---

> P-064: 商品データ（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益率の全体平均を算出せよ。ただし、単価と原価には欠損が生じていることに注意せよ。

In [5]:
df_product.select(
    pl.col("unit_price"),
    pl.col("unit_cost"),
).with_columns(
    ((pl.col("unit_price") - pl.col("unit_cost")) / pl.col("unit_price")).alias(
        "unit_profit"
    )
).mean().item(0, -1)

0.24911389885177004

---

> P-065: 商品データ（df_product）の各商品について、利益率が 30%となる新たな単価を求めよ。ただし、1 円未満は切り捨てること。そして結果を 10 件表示させ、利益率がおよそ 30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

In [19]:
formula = (pl.col("unit_cost") / 0.7).alias("new_price").floor()

df_product.select(pl.col("unit_cost")).with_columns(
    formula.cast(pl.UInt32),
).with_columns(
    ((pl.col("new_price") - pl.col("unit_cost")) / pl.col("new_price")).alias(
        "new_profit"
    ),
).head()

shape: (5, 3)
┌───────────┬───────────┬────────────┐
│ unit_cost ┆ new_price ┆ new_profit │
│ ---       ┆ ---       ┆ ---        │
│ i64       ┆ u32       ┆ f64        │
╞═══════════╪═══════════╪════════════╡
│ 149       ┆ 212       ┆ 0.29717    │
│ 164       ┆ 234       ┆ 0.299145   │
│ 173       ┆ 247       ┆ 0.299595   │
│ 186       ┆ 265       ┆ 0.298113   │
│ 201       ┆ 287       ┆ 0.299652   │
└───────────┴───────────┴────────────┘

---

> P-066: 商品データ（df_product）の各商品について、利益率が 30%となる新たな単価を求めよ。今回は、1 円未満を丸めること（四捨五入または偶数への丸めで良い）。そして結果を 10 件表示させ、利益率がおよそ 30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

In [20]:
formula = (pl.col("unit_cost") / 0.7).alias("new_price").round()

df_product.select(pl.col("unit_cost")).with_columns(
    formula.cast(pl.UInt32),
).with_columns(
    ((pl.col("new_price") - pl.col("unit_cost")) / pl.col("new_price")).alias(
        "new_profit"
    ),
).head()

shape: (5, 3)
┌───────────┬───────────┬────────────┐
│ unit_cost ┆ new_price ┆ new_profit │
│ ---       ┆ ---       ┆ ---        │
│ i64       ┆ u32       ┆ f64        │
╞═══════════╪═══════════╪════════════╡
│ 149       ┆ 213       ┆ 0.300469   │
│ 164       ┆ 234       ┆ 0.299145   │
│ 173       ┆ 247       ┆ 0.299595   │
│ 186       ┆ 266       ┆ 0.300752   │
│ 201       ┆ 287       ┆ 0.299652   │
└───────────┴───────────┴────────────┘

---

> P-067: 商品データ（df_product）の各商品について、利益率が 30%となる新たな単価を求めよ。今回は、1 円未満を切り上げること。そして結果を 10 件表示させ、利益率がおよそ 30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

In [21]:
formula = (pl.col("unit_cost") / 0.7).alias("new_price").ceil()

df_product.select(pl.col("unit_cost")).with_columns(
    formula.cast(pl.UInt32),
).with_columns(
    ((pl.col("new_price") - pl.col("unit_cost")) / pl.col("new_price")).alias(
        "new_profit"
    ),
).head()

shape: (5, 3)
┌───────────┬───────────┬────────────┐
│ unit_cost ┆ new_price ┆ new_profit │
│ ---       ┆ ---       ┆ ---        │
│ i64       ┆ u32       ┆ f64        │
╞═══════════╪═══════════╪════════════╡
│ 149       ┆ 213       ┆ 0.300469   │
│ 164       ┆ 235       ┆ 0.302128   │
│ 173       ┆ 248       ┆ 0.302419   │
│ 186       ┆ 266       ┆ 0.300752   │
│ 201       ┆ 288       ┆ 0.302083   │
└───────────┴───────────┴────────────┘

---

> P-068: 商品データ（df_product）の各商品について、消費税率 10％の税込み金額を求めよ。1 円未満の端数は切り捨てとし、結果を 10 件表示せよ。ただし、単価（unit_price）には欠損が生じていることに注意せよ。

In [23]:
df_product.select(pl.col("unit_price")).with_columns(
    pl.col("unit_price").mul(1.1).floor().alias("with_tax")
)

shape: (10_030, 2)
┌────────────┬──────────┐
│ unit_price ┆ with_tax │
│ ---        ┆ ---      │
│ i64        ┆ f64      │
╞════════════╪══════════╡
│ 198        ┆ 217.0    │
│ 218        ┆ 239.0    │
│ 230        ┆ 253.0    │
│ 248        ┆ 272.0    │
│ 268        ┆ 294.0    │
│ …          ┆ …        │
│ 280        ┆ 308.0    │
│ 680        ┆ 748.0    │
│ 1080       ┆ 1188.0   │
│ 1130       ┆ 1243.0   │
│ 1280       ┆ 1408.0   │
└────────────┴──────────┘

---

> P-069: レシート明細データ（df_receipt）と商品データ（df_product）を結合し、顧客毎に全商品の売上金額合計と、カテゴリ大区分コード（category_major_cd）が"07"（瓶詰缶詰）の売上金額合計を計算の上、両者の比率を求めよ。抽出対象はカテゴリ大区分コード"07"（瓶詰缶詰）の売上実績がある顧客のみとし、結果を 10 件表示せよ。

In [57]:
if "\ufeffproduct_cd" in df_product.columns:  # BOM
    df_product = df_product.rename({"\ufeffproduct_cd": "product_cd"})

df_receipt.join(df_product, on="product_cd", how="inner").group_by(
    pl.col("customer_id")
).agg(
    pl.col("amount").sum().alias("sum_amount"),
    pl.when(pl.col("category_major_cd") == 7)
    .then(pl.col("amount"))
    .otherwise(0)
    .sum()
    .alias("sum_amount_cat7"),
).head()

shape: (5, 3)
┌────────────────┬────────────┬─────────────────┐
│ customer_id    ┆ sum_amount ┆ sum_amount_cat7 │
│ ---            ┆ ---        ┆ ---             │
│ str            ┆ i64        ┆ i64             │
╞════════════════╪════════════╪═════════════════╡
│ CS031414000102 ┆ 1800       ┆ 558             │
│ CS028511000038 ┆ 1028       ┆ 880             │
│ CS006411000021 ┆ 2373       ┆ 1780            │
│ CS031415000177 ┆ 8951       ┆ 3654            │
│ CS035514000115 ┆ 286        ┆ 0               │
└────────────────┴────────────┴─────────────────┘

---

> P-070: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過日数を計算し、顧客 ID（customer_id）、売上日、会員申込日とともに 10 件表示せよ（sales_ymd は数値、application_date は文字列でデータを保持している点に注意）。

In [68]:
df_receipt.join(df_customer, on="customer_id", how="inner").with_columns(
    (
        pl.col("sales_ymd").cast(pl.String).str.strptime(pl.Date, "%Y%m%d")
        - pl.col("application_date").cast(pl.String).str.strptime(pl.Date, "%Y%m%d")
    ).alias("days_diff")
).select(
    pl.col("customer_id"),
    pl.col("sales_ymd"),
    pl.col("application_date"),
    pl.col("days_diff"),
)

shape: (65_682, 4)
┌────────────────┬───────────┬──────────────────┬──────────────┐
│ customer_id    ┆ sales_ymd ┆ application_date ┆ days_diff    │
│ ---            ┆ ---       ┆ ---              ┆ ---          │
│ str            ┆ i64       ┆ i64              ┆ duration[ms] │
╞════════════════╪═══════════╪══════════════════╪══════════════╡
│ CS006214000001 ┆ 20181103  ┆ 20150201         ┆ 1371d        │
│ CS008415000097 ┆ 20181118  ┆ 20150322         ┆ 1337d        │
│ CS028414000014 ┆ 20170712  ┆ 20150711         ┆ 732d         │
│ CS025415000050 ┆ 20180821  ┆ 20160131         ┆ 933d         │
│ CS003515000195 ┆ 20190605  ┆ 20150306         ┆ 1552d        │
│ …              ┆ …         ┆ …                ┆ …            │
│ CS010414000008 ┆ 20180131  ┆ 20150203         ┆ 1093d        │
│ CS004515000066 ┆ 20181217  ┆ 20150617         ┆ 1279d        │
│ CS046415000017 ┆ 20190911  ┆ 20180304         ┆ 556d         │
│ CS040513000195 ┆ 20170311  ┆ 20150805         ┆ 584d         │
│ CS002513000049 ┆ 20170331  ┆ 20150326         ┆ 736d         │
└────────────────┴───────────┴──────────────────┴──────────────┘

---

> P-071: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過月数を計算し、顧客 ID（customer_id）、売上日、会員申込日とともに 10 件表示せよ（sales_ymd は数値、application_date は文字列でデータを保持している点に注意）。1 ヶ月未満は切り捨てること。

---

> P-072: レシート明細データ（df_receipt）の売上日（df_customer）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過年数を計算し、顧客 ID（customer_id）、売上日、会員申込日とともに 10 件表示せよ（sales_ymd は数値、application_date は文字列でデータを保持している点に注意）。1 年未満は切り捨てること。

---

> P-073: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からのエポック秒による経過時間を計算し、顧客 ID（customer_id）、売上日、会員申込日とともに 10 件表示せよ（なお、sales_ymd は数値、application_date は文字列でデータを保持している点に注意）。なお、時間情報は保有していないため各日付は 0 時 0 分 0 秒を表すものとする。

---

> P-074: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、当該週の月曜日からの経過日数を計算し、売上日、直前の月曜日付とともに 10 件表示せよ（sales_ymd は数値でデータを保持している点に注意）。

---

> P-075: 顧客データ（df_customer）からランダムに 1%のデータを抽出し、先頭から 10 件表示せよ。

---

> P-076: 顧客データ（df_customer）から性別コード（gender_cd）の割合に基づきランダムに 10%のデータを層化抽出し、性別コードごとに件数を集計せよ。

---

> P-077: レシート明細データ（df_receipt）の売上金額を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。なお、外れ値は売上金額合計を対数化したうえで平均と標準偏差を計算し、その平均から 3σ を超えて離れたものとする（自然対数と常用対数のどちらでも可）。結果は 10 件表示せよ。

---

> P-078: レシート明細データ（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客 ID が"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を第 1 四分位と第 3 四分位の差である IQR を用いて、「第 1 四分位数-1.5×IQR」を下回るもの、または「第 3 四分位数+1.5×IQR」を超えるものとする。結果は 10 件表示せよ。

---

> P-079: 商品データ（df_product）の各項目に対し、欠損数を確認せよ。

---

> P-080: 商品データ（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たな商品データを作成せよ。なお、削除前後の件数を表示させ、079 で確認した件数だけ減少していることも確認すること。

---

> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たな商品データを作成せよ。なお、平均値については 1 円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---

> P-082: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの中央値で補完した新たな商品データを作成せよ。なお、中央値については 1 円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---

> P-083: 単価（unit_price）と原価（unit_cost）の欠損値について、各商品のカテゴリ小区分コード（category_small_cd）ごとに算出した中央値で補完した新たな商品データを作成せよ。なお、中央値については 1 円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---

> P-084: 顧客データ（df_customer）の全顧客に対して全期間の売上金額に占める 2019 年売上金額の割合を計算し、新たなデータを作成せよ。ただし、売上実績がない場合は 0 として扱うこと。そして計算した割合が 0 超のものを抽出し、結果を 10 件表示せよ。また、作成したデータに欠損が存在しないことを確認せよ。

---

> P-085: 顧客データ（df_customer）の全顧客に対し、郵便番号（postal_cd）を用いてジオコードデータ（df_geocode）を紐付け、新たな顧客データを作成せよ。ただし、1 つの郵便番号（postal_cd）に複数の経度（longitude）、緯度（latitude）情報が紐づく場合は、経度（longitude）、緯度（latitude）の平均値を算出して使用すること。また、作成結果を確認するために結果を 10 件表示せよ。

---

> P-086: 085 で作成した緯度経度つき顧客データに対し、会員申込店舗コード（application_store_cd）をキーに店舗データ（df_store）と結合せよ。そして申込み店舗の緯度（latitude）・経度情報（longitude)と顧客住所（address）の緯度・経度を用いて申込み店舗と顧客住所の距離（単位：km）を求め、顧客 ID（customer_id）、顧客住所（address）、店舗住所（address）とともに表示せよ。計算式は以下の簡易式で良いものとするが、その他精度の高い方式を利用したライブラリを利用してもかまわない。結果は 10 件表示せよ。

$$
\mbox{緯度（ラジアン）}：\phi \\
\mbox{経度（ラジアン）}：\lambda \\
\mbox{距離}L = 6371 * \arccos(\sin \phi_1 * \sin \phi_2
+ \cos \phi_1 * \cos \phi_2 * \cos(\lambda_1 − \lambda_2))
$$

---

> P-087: 顧客データ（df_customer）では、異なる店舗での申込みなどにより同一顧客が複数登録されている。名前（customer_name）と郵便番号（postal_cd）が同じ顧客は同一顧客とみなして 1 顧客 1 レコードとなるように名寄せした名寄顧客データを作成し、顧客データの件数、名寄顧客データの件数、重複数を算出せよ。ただし、同一顧客に対しては売上金額合計が最も高いものを残し、売上金額合計が同一もしくは売上実績がない顧客については顧客 ID（customer_id）の番号が小さいものを残すこととする。

---

> P-088: 087 で作成したデータを元に、顧客データに統合名寄 ID を付与したデータを作成せよ。ただし、統合名寄 ID は以下の仕様で付与するものとする。
>
> - 重複していない顧客：顧客 ID（customer_id）を設定
> - 重複している顧客：前設問で抽出したレコードの顧客 ID を設定
>
> 顧客 ID のユニーク件数と、統合名寄 ID のユニーク件数の差も確認すること。

---

> P-089: 売上実績がある顧客を、予測モデル構築のため学習用データとテスト用データに分割したい。それぞれ 8:2 の割合でランダムにデータを分割せよ。

---

> P-090: レシート明細データ（df_receipt）は 2017 年 1 月 1 日〜2019 年 10 月 31 日までのデータを有している。売上金額（amount）を月次で集計し、学習用に 12 ヶ月、テスト用に 6 ヶ月の時系列モデル構築用データを 3 セット作成せよ。

---

> P-091: 顧客データ（df_customer）の各顧客に対し、売上実績がある顧客数と売上実績がない顧客数が 1:1 となるようにアンダーサンプリングで抽出せよ。

---

> P-092: 顧客データ（df_customer）の性別について、第三正規形へと正規化せよ。

---

> P-093: 商品データ（df_product）では各カテゴリのコード値だけを保有し、カテゴリ名は保有していない。カテゴリデータ（df_category）と組み合わせて非正規化し、カテゴリ名を保有した新たな商品データを作成せよ。

---

> P-094: 093 で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |    ファイル形式     | ヘッダ有無 | 文字エンコーディング |
> | :-----------------: | :--------: | :------------------: |
> | CSV（カンマ区切り） |    有り    |        UTF-8         |
>
> ファイル出力先のパスは以下のようにすること
>
> | 出力先 |
> | :----: |
> | ./data |

---

> P-095: 093 で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |    ファイル形式     | ヘッダ有無 | 文字エンコーディング |
> | :-----------------: | :--------: | :------------------: |
> | CSV（カンマ区切り） |    有り    |        CP932         |
>
> ファイル出力先のパスは以下のようにすること。
>
> | 出力先 |
> | :----: |
> | ./data |

---

> P-096: 093 で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |    ファイル形式     | ヘッダ有無 | 文字エンコーディング |
> | :-----------------: | :--------: | :------------------: |
> | CSV（カンマ区切り） |    無し    |        UTF-8         |
>
> ファイル出力先のパスは以下のようにすること。
>
> | 出力先 |
> | :----: |
> | ./data |

---

> P-097: 094 で作成した以下形式のファイルを読み込み、データを 3 件を表示させて正しく取り込まれていることを確認せよ。
>
> |    ファイル形式     | ヘッダ有無 | 文字エンコーディング |
> | :-----------------: | :--------: | :------------------: |
> | CSV（カンマ区切り） |    有り    |        UTF-8         |

---

> P-098: 096 で作成した以下形式のファイルを読み込み、データを 3 件を表示させて正しく取り込まれていることを確認せよ。
>
> |    ファイル形式     | ヘッダ有無 | 文字エンコーディング |
> | :-----------------: | :--------: | :------------------: |
> | CSV（カンマ区切り） | ヘッダ無し |        UTF-8         |

---

> P-099: 093 で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |   ファイル形式    | ヘッダ有無 | 文字エンコーディング |
> | :---------------: | :--------: | :------------------: |
> | TSV（タブ区切り） |    有り    |        UTF-8         |
>
> ファイル出力先のパスは以下のようにすること
>
> | 出力先 |
> | :----: |
> | ./data |

---

> P-100: 099 で作成した以下形式のファイルを読み込み、データを 3 件を表示させて正しく取り込まれていることを確認せよ。
>
> |   ファイル形式    | ヘッダ有無 | 文字エンコーディング |
> | :---------------: | :--------: | :------------------: |
> | TSV（タブ区切り） |    有り    |        UTF-8         |

# これで１００本終わりです。おつかれさまでした！